<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 9">
<link id=Main-File rel=Main-File href="../whatisGP.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Presentazione di PowerPoint</title>
<meta name=Description
content="15-11.-02: Percorso progettuale, modello organizzativo, risorse, vincoli">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
gId="slide0007.htm"
if( !IsNts() ) Redirect( "PPTSld", gId );
//-->
</script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><script for=window event=onload><!--
if( !IsSldOrNts() ) return;
if( MakeNotesVis() ) return;
LoadSld( gId );
MakeSldVis(0);
//-->
</script><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="10,13"/>
</o:shapelayout>
</head>

<body lang=IT style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#FFFFFF,#000000,#808080,#000000,#00CC99,#3333CC,#CCCCFF,#B2B2B2"
 masterhref="master03.xml">
 <p:shaperange href="master03.xml#_x0000_s1025"/><![if !ppt]><p:shaperange
  href="master03.xml#_x0000_s1032"/><![if !vml]><img border=0
 v:shapes="_x0000_s1032" src="master03_image004.jpg" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master03.xml#_x0000_s1028"/><p:shaperange
  href="master03.xml#_x0000_s1029"/><p:shaperange
  href="master03.xml#_x0000_s1030"/>
 <div v:shape="_x0000_s1030" class=O>
 <div style='text-align:right;position:absolute;top:92.0%;left:72.65%;
 width:18.91%;height:3.0%'><span style='font-size:58%;mso-field-code:meta16'>6</span><span
 style='font-size:58%;mso-special-format:lastCR;display:none'>&#13;</span></div>
 </div>
 <p:shaperange href="master03.xml#_x0000_s1035"/><![endif]><p:shaperange
  href="master03.xml#_x0000_m1026"/><v:shape id="_x0000_s10242" type="#_x0000_m1026"
  style='position:absolute;left:54pt;top:96pt;width:612pt;height:36pt'>
  <v:fill o:detectmouseclick="f"/>
  <v:stroke o:forcedash="f"/>
  <o:lock v:ext="edit" text="f"/>
  <p:placeholder type="title"/></v:shape><v:rect id="_x0000_s10243" style='position:absolute;
  left:54pt;top:156pt;width:612pt;height:336pt' filled="f" fillcolor="#0c9 [4]"
  stroked="f" strokecolor="black [1]">
  <v:fill color2="white [0]"/>
  <v:shadow color="gray [2]"/>
  <o:lock v:ext="edit" grouping="t"/>
  <p:placeholder type="body" position="1"/></v:rect>
 <div v:shape="_x0000_s10242" class=T><span style='position:absolute;
 top:14.75%;left:5.05%;width:90.07%'>Percorso progettuale, modello
 organizzativo, </span><span style='position:absolute;top:21.5%;left:8.42%;
 width:83.14%'>risorse, vincoli</span></div>
 <div v:shape="_x0000_s10243" class=B>
 <div style='position:absolute;top:29.75%;left:8.42%;width:83.14%;height:4.75%'>In
 questa fase devono essere identificati:&#13;</div>
 <div style='mso-line-spacing:"80 20 0";position:absolute;top:35.0%;left:8.42%;
 width:83.14%;height:4.75%'><span style='position:absolute;top:0%;left:4.5%;
 width:95.49%'><span style='mso-special-format:bullet;position:absolute;
 left:-4.71%'></span>gli obiettivi e il target;&#13;</span></div>
 <div style='mso-line-spacing:"80 20 0";position:absolute;top:39.75%;
 left:8.42%;width:83.14%;height:4.75%'><span style='position:absolute;
 top:0%;left:4.5%;width:95.49%'><span style='mso-special-format:bullet;
 position:absolute;left:-4.71%'></span>le azioni di progetto; &#13;</span></div>
 <div style='mso-line-spacing:"80 20 0";position:absolute;top:44.75%;
 left:8.42%;width:83.14%;height:4.75%'><span style='position:absolute;
 top:0%;left:4.5%;width:95.49%'><span style='mso-special-format:bullet;
 position:absolute;left:-4.71%'></span>la struttura organizzativa.&#13;</span></div>
 <div style='mso-line-spacing:"100 35 0"'><span style='position:absolute;
 top:51.0%;left:8.42%;width:87.26%'>La struttura del progetto viene definita
 attraverso i servizi a </span><span style='position:absolute;top:56.0%;
 left:12.17%;width:91.38%'>supporto delle attivitΰ scelti tra quelli
 disponibili, attualmente:&#13;</span></div>
 <div style='mso-line-spacing:"80 20 0";position:absolute;top:61.0%;left:8.42%;
 width:83.14%;height:4.75%'><span style='position:absolute;top:0%;left:4.5%;
 width:95.49%'><span style='mso-special-format:bullet;position:absolute;
 left:-4.71%'></span>Gestione bandi e selezione&#13;</span></div>
 <div style='mso-line-spacing:"80 20 0";position:absolute;top:66.0%;left:8.42%;
 width:83.14%;height:4.75%'><span style='position:absolute;top:0%;left:4.5%;
 width:95.49%'><span style='mso-special-format:bullet;position:absolute;
 left:-4.71%'></span>Analisi delle competenze&#13;</span></div>
 <div style='mso-line-spacing:"80 20 0";position:absolute;top:70.75%;
 left:8.42%;width:83.14%;height:4.75%'><span style='position:absolute;
 top:0%;left:4.5%;width:95.49%'><span style='mso-special-format:bullet;
 position:absolute;left:-4.71%'></span>Formazione in presenza&#13;</span></div>
 <div style='mso-line-spacing:"80 20 0";position:absolute;top:75.75%;
 left:8.42%;width:83.14%;height:4.75%'><span style='position:absolute;
 top:0%;left:4.5%;width:95.49%'><span style='mso-special-format:bullet;
 position:absolute;left:-4.71%'></span>Formazione a distanza&#13;</span></div>
 <div style='mso-line-spacing:"80 20 0";position:absolute;top:80.5%;left:8.42%;
 width:83.14%;height:4.75%'><span style='position:absolute;top:0%;left:4.5%;
 width:95.49%'><span style='mso-special-format:bullet;position:absolute;
 left:-4.71%'></span>Community&#13;</span></div>
 <div style='mso-line-spacing:"80 20 0";position:absolute;top:85.5%;left:8.42%;
 width:83.14%;height:4.75%'><span style='position:absolute;top:0%;left:4.5%;
 width:95.49%'><span style='mso-special-format:bullet;position:absolute;
 left:-4.71%'></span>Stage</span></div>
 </div>
</p:slide></div>

</body>

</html>
