<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 9">
<link id=Main-File rel=Main-File href="../whatisGP.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Presentazione di PowerPoint</title>
<meta name=Description content="15-11.-02: Divisione Portale">
<link rel=Stylesheet href="master03_stylesheet.css">
<![if !ppt]>
<style>
.CB
	{color:black;}
.CT
	{color:black;}
</style>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
gId="slide0003.htm"
if( !IsNts() ) Redirect( "PPTSld", gId );
//-->
</script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><script for=window event=onload><!--
if( !IsSldOrNts() ) return;
if( MakeNotesVis() ) return;
LoadSld( gId );
MakeSldVis(0);
//-->
</script><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="5"/>
</o:shapelayout>
</head>

<body lang=IT style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:white;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#FFFFFF,#000000,#808080,#000000,#00CC99,#3333CC,#CCCCFF,#B2B2B2"
 masterhref="master04.xml">
 <p:shaperange href="master04.xml#_x0000_s3073"/><![if !ppt]><p:shaperange
  href="master04.xml#_x0000_s3074"/><![if !vml]><img border=0
 v:shapes="_x0000_s3074" src="master04_image003.jpg" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![endif]><p:shaperange
  href="master04.xml#_x0000_m3075"/><v:shape id="_x0000_s5122" type="#_x0000_m3075"
  style='position:absolute;left:54pt;top:180pt;width:612pt;height:90pt'>
  <v:fill o:detectmouseclick="f"/>
  <v:stroke o:forcedash="f"/>
  <o:lock v:ext="edit" text="f"/>
  <p:placeholder type="centerTitle"/></v:shape><p:shaperange
  href="master04.xml#_x0000_m3076"/><v:shape id="_x0000_s5123" type="#_x0000_m3076"
  style='position:absolute;left:108pt;top:258pt;width:7in;height:114pt'>
  <v:fill o:detectmouseclick="f"/>
  <v:stroke o:forcedash="f"/>
  <o:lock v:ext="edit" text="f"/>
  <p:placeholder type="subTitle" position="1"/></v:shape>
 <div v:shape="_x0000_s5122" class=CT style='position:absolute;top:38.25%;
 left:8.42%;width:83.14%;height:7.5%'><span style='font-size:120%'><b>Divisione
 Portale</b></span></div>
 <div v:shape="_x0000_s5123" class=CB>
 <div style='position:absolute;top:48.75%;left:15.91%;width:68.16%;height:6.5%'><span
 style='font-size:136%'><b>Gestione Progetti&#13;</b></span></div>
 <div style='position:absolute;top:57.0%;left:15.91%;width:68.16%;height:6.5%'><span
 style='font-size:136%;display:none'><b>&#13;</b></span></div>
 <div style='position:absolute;top:64.25%;left:15.91%;width:68.16%;height:4.0%'><span
 style='font-size:82%'><b>16 ottobre 2002</b></span></div>
 </div>
</p:slide></div>

</body>

</html>
