/*Navbar*/
#nav {font-size:11px;font-family:Arial,Tahoma,Serif;width:153px;margin-bottom:1em;}
#nav p {color:#7D7D7D;margin:0;padding:.5em 1em 0 1em;}
#nav ul {margin:0;font-size:11px;padding:0;}
#nav li {list-style-type:none;}
#nav li a {font-size:11px;height:2em;;margin:0;padding:0;background-color:#ffffff;border-bottom:1px solid #D7D7D7;border-top:1px solid #FFF;}
#nav li a:link,  #nav li a:visited {font-size:11px;display: block;color: #656565;text-decoration: none;padding: .7em .9em .3em;}
#nav li a:hover  {font-size:11px;padding: .7em .9em .3em;background: #B6B6B6;color: #000;}
#nav li a:active {font-size:11px;padding: .7em .9em .3em;background: #B6B6B6;color: #000;}


#menuinicio a {font-size:11px;height:2em;;margin:0;padding:0;background-color:#E4E4E4;border-bottom:1px solid #D7D7D7;border-top:1px solid #FFF;color: Black;font-weight: bolder}
#menuinicio a:link,  #nav li a:visited {font-size:11px;display: block;color: #656565;text-decoration: none;padding: .7em .9em .3em;color: Black;font-weight: bolder}
#menuinicio a:hover  {font-size:11px;padding: .7em .9em .3em;background: #B6B6B6;color: Black;font-weight: bolder}
#menuinicio a:active {font-size:11px;padding: .7em .9em .3em;background: #B6B6B6;color: Black;font-weight: bolder}


.blanco12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.celeste11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0099cc;
}
.celeste18 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0099cc;
}

.negro11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003366;
}
.negro13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #003366;
}

.negro14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #666666;
}

.rojo10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: red;
}
.rojo12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: red;
}

.rojo14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: red;
}

.input 
{
border-bottom: #666666 1px solid; 
border-left: #666666 1px solid; 
border-right: #666666 1px solid; 
border-top: #666666 1px solid; 
font-family:Arial; 
font-size:10;
background-color: #ffffff;
}

.right-past-blanco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight:bold;
	/*padding-bottom: 50px;*/
	background-attachment: scroll;
	background-image: url(images/right/icoTxt.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	/*background-position: 6px 6px;*/
}


.notitext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
}

A.notitext:hover {
	color: #000000;
	background-color:#ffffff;	
	text-decoration: none
	}

A.notitext:link  {color: #999999; text-decoration: none}
A.notitext:active  {color: #999999; text-decoration: none}



