﻿/* COMMON STYLE
--------------------------------------------------------- */
html, body, form, fieldset {
	margin: 0;
	padding: 0;
}

body {
	color: #000000;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
}

body#bd {
	color: #333333;
	background: #F2F2F2;
}

body.contentpane {
	width: auto; /* Printable Page */
	margin: 1em 2em;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	color: #333;
}

body.fs1 {
	font-size: 10px;
}

body.fs2{
	font-size: 11px;
}

body.fs3{
	font-size: 13px;
}

body.fs4{
	font-size: 13px;
}

body.fs5{
	font-size: 14px;
}

body.fs6{
	font-size: 15px;
}

/* Normal link */
a {
	color: #006699;
	text-decoration: underline;
}

a:hover, a:active, a:focus {
	color: #333333;
	text-decoration: underline;
}

/* Title text */
.contentheading, .componentheading, .blog_more strong, h1, h2, h3, h4 {
	font-family: Arial, Helvetica, sans-serif;
}

/* Small text */
small, .small, .smalldark, .mosimage_caption, .createby, .createdate, .modifydate, a.readon, .img_caption {
	color: #666666;
	font-size: 92%;
}

/* Heading */
h1 {
	font-size: 180%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
}

h4 {
	font-size: 100%;
	text-transform: uppercase;
}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 5px 0;
	padding: 0;
}

ul {
	list-style: none;
}

ul li {
	padding-left: 30px;
	/*background: url(../images/bullet.gif) no-repeat 18px 8px;*/
	line-height: 180%;
}

ol li {
	margin-left: 35px;
	line-height: 180%;
}

th {
	font-weight: bold;
	text-align: left;
}

fieldset {
	border: none;
	padding: 10px 5px;
	background: url(../images/hdot2.gif) repeat-x top;
}

fieldset a {
	font-weight: bold;
}

hr {
	border-top: 1px solid #CCCCCC;
	border-right: 0;
	border-left: 0;
	border-bottom: 0;
	height: 1px;
}

td, div {
	font-size: 100%;
}

img {
	border: none;
}
/* FORM
--------------------------------------------------------- */
form {
	margin: 0;
	padding: 0;
}

form label {
	cursor: pointer;
}

input, select, textarea, .inputbox {
	padding: 3px 5px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.button {
	padding: 3px 5px;
	border: 1px solid #C3110F;
	background: url(../images/grad1.jpg) repeat-x top #C3110F;
	color: #FFF;
	font-size: 85%;
	text-transform: uppercase;
}

.button:hover, .button:focus {
	border: 1px solid #C3110F;
	color: #FFFFFF;
}

* html .button {
	padding: 2px 0 !important; /*IE 6*/
}

*+html .button {
	padding: 2px 0 !important; /*IE 7*/
}

.inputbox {
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
}

.inputbox:hover, .inputbox:focus {
	background: #FFFFCC;
}

/* BONUS TYPOGRAPHY STYLES
--------------------------------------------------------- */
pre, .code {
	padding: 10px 15px;
	margin: 5px 0 15px;
	border-left: 5px solid #999999;
	background: #FFFFFF;
	font: 1em/1.5 "Courier News", monospace;
}

blockquote {
	padding: 1em 40px 1em 15px;
}

blockquote span.open {
	padding: 0 0 0 20px;
	background: url(../images/so-q.gif) no-repeat left top;
}

blockquote span.close {
	padding: 0 20px 0 0;
	background: url(../images/sc-q.gif) no-repeat bottom right;
}

/* Quote hilight */
.quote-hilite {
	padding: 10px 15px;
	margin: 0;
	border: 1px solid #CACACC;
	background: #FFFFFF;
}

/* Small quote */
.small-quote {
	margin: 0;
	padding: 0;
	background: none;
}

.small-quote span.open-quote {
	margin: 0;
	padding-left: 20px;
	background: url(../images/so-q.gif) no-repeat center left;
}

.small-quote span.close-quote {
	margin: 0;
	padding-right: 20px;
	background: url(../images/sc-q.gif) no-repeat center right;
}

.small-quote span.author {
	padding: 2px 5px 2px 20px;
	border-top: 1px solid #DCDDE0;
	margin: 0.5em 0 0;
	display: block;
	background: url(../images/author.gif) no-repeat 5px 4px #EAEBEE;
	font-size: 90%;
	text-transform: uppercase;
}

/* Rropcap */
.dropcap {
	float: left;
	padding: 4px 8px 0 0;
	display: block;
	color: #999999;
	font: 50px/40px Georgia, Times, serif;
}

/* Tips, Error, Message, Hightlight*/
p.error {
	padding-left: 25px;
	color: #BF0000;
	background: url(../images/icon-error.gif) no-repeat top left;
}

p.message {
	padding-left: 25px;
	color: #006699;
	background: url(../images/icon-info.gif) no-repeat top left;
}

p.tips {
	padding-left: 25px;
	color: #EE9600;
	background: url(../images/icon-tips.gif) no-repeat top left;
}

.highlight {
	padding: 1px 5px;
	background: #FFFFCC;
	font-weight: bold;
}

/* Note Style */
p.stickynote {
	padding: 10px 0px 10px 40px;
	border: 1px solid #CACACC;
	background: url(../images/sticky-bg.gif) no-repeat 5px center #FFFFFF;
}

p.download {
	padding: 10px 0px 10px 40px;
	border: 1px solid #CACACC;
	background: url(../images/download-bg.gif) no-repeat 5px center #FFFFFF;
}

.blocknumber {
	clear: both;
	padding: 5px 15px 10px;
	position: relative;
}

/* Check list */
ul.checklist {
	list-style: none;
}

ul.checklist li {
	margin-left: 15px;
	padding: 0 0 5px 20px;
	background: url(../images/checklist-bg.gif) no-repeat 0 3px;
}

/* Small checklist */
ul.small-checklist {
	list-style: none;
}

ul.small-checklist li {
	margin-left: 15px;
	padding: 0 0 5px 20px;
	background: url(../images/icon_list.gif) no-repeat 0 3px;
}

/* Check list */
ul.stars {
	list-style: none;
}

ul.stars li {
	margin-left: 15px;
	padding: 0px 0 5px 20px;
	background: url(../images/star-bg.gif) no-repeat 0 3px;
}

/* Bignumber */
.bignumber {
	float: left;
	margin-right: 8px;
	padding: 6px 7px;
	display: block;
	background: url(../images/ol-bg.gif) no-repeat top left;
	color: #7BA566;
	font: bold 20px/normal Arial, sans-serif;
}

/* Talking box. Thinking box. */
div.bubble1, div.bubble2, div.bubble3, div.bubble4 {
	margin: 15px 0;
}

div.bubble1 span.author,
div.bubble2 span.author,
div.bubble3 span.author,
div.bubble4 span.author {
	padding-left: 15px;
	margin-left: 15px;
	background: url(../images/author.gif) no-repeat center left;
	font-weight: bold;
}

div.bubble1 div {
	margin: 0;
	width: 100%;
	background: url(../images/bub1-br.gif) no-repeat bottom right;
}

div.bubble1 div div {
	background: url(../images/bub1-bl.gif) no-repeat bottom left;
}

div.bubble1 div div div {
	background: url(../images/bub1-tr.gif) no-repeat top right;
}

div.bubble1 div div div div {
	background: url(../images/bub1-tl.gif) no-repeat top left;
}

div.bubble1 div div div div div {
	margin: 0;
	padding: 15px 15px 30px 15px;
	width: auto;
}

div.bubble2 div {
	margin: 0;
	width: 100%;
	background: url(../images/bub2-br.gif) no-repeat bottom right;
}

div.bubble2 div div {
	background: url(../images/bub2-bl.gif) no-repeat bottom left;
}

div.bubble2 div div div {
	background: url(../images/bub2-tr.gif) no-repeat top right;
}

div.bubble2 div div div div {
	background: url(../images/bub2-tl.gif) no-repeat top left;
}

div.bubble2 div div div div div {
	margin: 0;
	padding: 15px 15px 35px 15px;
	width: auto;
}

div.bubble3 div {
	margin: 0;
	width: 100%;
	background: url(../images/bub3-br.gif) no-repeat bottom right;
}

div.bubble3 div div {
	background: url(../images/bub3-bl.gif) no-repeat bottom left;
}

div.bubble3 div div div {
	background: url(../images/bub3-tr.gif) no-repeat top right;
}

div.bubble3 div div div div {
	background: url(../images/bub3-tl.gif) no-repeat top left;
}

div.bubble3 div div div div div {
	margin: 0;
	padding: 15px 15px 50px 15px;
	width: auto;
}

div.bubble4 div {
	margin: 0;
	width: 100%;
	background: url(../images/bub4-br.gif) no-repeat bottom right;
}

div.bubble4 div div {
	background: url(../images/bub4-bl.gif) no-repeat bottom left;
}

div.bubble4 div div div {
	background: url(../images/bub4-tr.gif) no-repeat top right;
}

div.bubble4 div div div div {
	background: url(../images/bub4-tl.gif) no-repeat top left;
}

div.bubble4 div div div div div {
	margin: 0;
	padding: 15px 15px 55px 15px;
	width: auto;
}

/* Legend */
.legend-title {
	margin: 0;
	padding: 0 3px;
	float: left;
	display: block;
	background: #F6F6F6;
	font-weight: bold;
	position: absolute;
	top: -10px;
	left: 7px;
}

.legend {
	margin: 20px 0;
	padding: 0 10px;
	border: 1px solid #CACACC;
	background: #FFFFFF;
	position: relative;
}

/* JOOMLA STYLE
--------------------------------------------------------- */
table.blog {
}

.article_separator {
	clear: both;
	display: block;
	height: 20px;
}

.article_column {
}

.column_separator {
	padding: 0 25px;
}

/* content tables */
td.sectiontableheader {
  padding: 4px;
  border-right: 1px solid #fff;
}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
  padding: 4px;
}

td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {
  padding: 3px;
}

table.contentpane {
	border: none;
	width: 100%;
}

table.contentpaneopen {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

table.contenttoc {
	margin: 0 0 10px 10px;
	padding: 0;
	width: 35%;
	float: right;
}

table.contenttoc a {
	text-decoration: none;
}

table.contenttoc td {
	padding: 1px 5px 1px 25px;
	background: url(../images/bullet-list.gif) no-repeat 5% 50%;
}

table.contenttoc th {
	padding: 0 0 3PX;
	border-bottom: 1px solid #CCCCCC;
	text-indent: 5px;
}

table.poll {
	padding: 0;
	width: 100%;
	border-collapse: collapse;
}

table.pollstableborder {
	padding: 0;
	width: 100%;
	border: none;
	text-align: left;
}

table.pollstableborder img {
	vertical-align: baseline;
}

table.pollstableborder td {
	padding: 4px!important;
	border-collapse: collapse;
	border-spacing: 0;
}

table.pollstableborder tr.sectiontableentry1 td {
	background: #ECECEC;
}

table.searchintro {
	padding: 10px 0;
	width: 100%;
}

table.searchintro td {
	padding: 5px!important;
}

table.adminform {
}

.adminform .inputbox {
}

.blog_more {
	padding: 10px 0;
	background: url(../images/hdot.gif) repeat-x top;
}

.blog_more strong {
	margin: 0 0 5px;
	display: block;
	font-size: 125%;
}

.blog_more ul {
	margin: 0;
	padding: 0;
}

.blog_more ul li {
	margin: 0;
	padding: 0 0 0 17px;
	background: url(../images/bullet.gif) no-repeat 6px 8px;
}

.category {
	font-weight: bold;
}

/*h1.componentheading, .componentheading {
	padding: 5px 0 15px;
	margin: 0 0 10px;
	background: url(../images/hdot.gif) repeat-x bottom;
}*/

h1.componentheading, .componentheading {
	padding:0;
	margin:0;
	background:none;
}

.componentheading {
	font-size: 130%;
	font-weight: bold;
}

.contentdescription {
	padding-bottom: 30px;
}

h2.contentheading, .contentheading {
	padding:0;
	margin: 0;
	font-weight: normal;
	line-height:25px;
}

table.blog .contentheading {
	font-size: 150%;
}

.contentheading {
	font-size: 150%;
}

a.contentpagetitle,
a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus {
	text-decoration: none !important;
	color:#E0101C;
}

a.readon {
	float: left;
	border: 1px solid #F6F6F6;
	display: block;
	color: #006699;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

a.readon:hover, a.readon:active, a.readon:focus {
}

table.contentpaneopen td, table.contentpane td {
}

table.contentpaneopen, table.contentpane, table.blog {
	width: 100%;
}

.moduletable {
	padding: 0;
}

ul.pagination {
	margin: 15px auto;
	padding: 10px 0;
	background: url(../images/hdot.gif) repeat-x top;
}

ul.pagination li {
	margin: 0;
	padding: 0;
	display: inline;
	background: none;
}

ul.pagination li span{
	padding: 2px 5px;
}

ul.pagination a {
	padding: 2px 5px;
	border: 1px solid #F6F6F6;
}

ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus {
	border: 1px solid #ECECEC;
	background: #FFFFFF;
}

.pagenavbar {
	padding-left: 14px;
}

.pagenavcounter {
	padding: 8px 14px 0 14px;
}

.sectiontableheader {
	color: #FFFFFF;
}

.sectiontableheader a {
	color: #FFFFFF;
}

tr.sectiontableentry1 td {
	padding: 8px 5px;
	background: url(../images/hdot2.gif) repeat-x bottom;
}

tr.sectiontableentry2 td {
	padding: 8px 5px;
	background: url(../images/hdot2.gif) repeat-x bottom #ECECEC;
}

tr.sectiontableentry1:hover td,
tr.sectiontableentry2:hover td {
	background: url(../images/hdot2.gif) repeat-x bottom #FFFFCC;
}

.smalldark {
	text-align: left;
}

div.syndicate div {
	text-align: center;
}

.pollstableborder tr.sectiontableentry1 td,
.pollstableborder tr.sectiontableentry2 td {
	background: none;
}

/* META
--------------------------------------------------------- */
.article-tools {
	border-top: 1px solid #DDDDDD;
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 15px;
	display: block;
	background: #ECECEC;
	height:30px;
}

.article-meta {
	padding: 5px;
	width: 80%;
	float: left;
}

.createby {
	padding: 3px 3px 3px 20px;
	background: url(../images/icon-user.gif) no-repeat 0 2px;
}

.createdate {
	padding: 3px 3px 3px 20px;
	background: url(../images/icon-date.gif) no-repeat 0 2px;
}

.modifydate {
	width: 100%;
	float: left;
}

div.buttonheading {
	float: right;
	width: 15%;
}

.buttonheading img {
	margin: 7px 5px 0 0;
	border: 0;
	float: right;
}

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
#ja-wrapper {
	width: 100%;
	margin: 0;
	background: #F2F2F2;
}

#ja-containerwrap {
	background: url(../images/cw-bg1.gif) repeat-y 50% 0;
}

#ja-containerwrap2 {
	background: url(../images/cw-bg2.gif) no-repeat 50% 0;
}

#ja-container {
	background: url(../images/c-bg1.gif) repeat-y 18% 0;
}

#ja-container2 {
	padding: 20px 0;
	background: url(../images/c-bg2.gif) no-repeat 18% 0;
}

#ja-mainbody-fr #ja-col1 {
	width: 20%;
}

#ja-mainbody-fr #ja-contentwrap {
	width: 80%;
}

#ja-mainbody, #ja-mainbody-fl {
	float: left;
	width: 716px;
}

#ja-mainbody #ja-contentwrap {
	float: right;
	width: 550px;
}

#ja-mainbody-fl #ja-contentwrap {
	float: left;
	width: 100%;
}

#ja-mainbody-f, #ja-mainbody-fr {
	float: none;
	width: 100%;
}

#ja-mainbody-fr #ja-contentwrap {
	width: 74.8%;
	float: right;
}

#ja-mainbody-fr #ja-col1 {
	width: 20%;
	float: left;
}

#ja-mainbody-fr #ja-contentwrap {
	width: 80%;
}

#ja-content {
	padding:0;
}
#ja-contentwrap {
	min-height: 300px;
	height: auto;
}
* html #ja-contentwrap {
	height: 300px;
}
#ja-mainbody-fl #ja-content {
	padding-left: 0;
	clear:both;
}

#ja-mainbody-f #ja-content {
	padding: 0;
}

/* Full */
#ja-containerwrap-f {
	background: url(../images/cwf-bg.gif) repeat-x top left #F6F6F6;
}

#ja-containerwrap-f #ja-containerwrap2 {
	background: none;
}

#ja-containerwrap-f #ja-container,
#ja-containerwrap-f #ja-container2 {
	background: none;
}

/* Full left */
#ja-containerwrap-fl {
	background: url(../images/cwf-bg.gif) repeat-x top left #F6F6F6;
}

#ja-containerwrap-fl #ja-containerwrap2,
#ja-containerwrap-fl #ja-container,
#ja-containerwrap-fl #ja-container2 {
	background: none;
}

/* Full right */
#ja-containerwrap-fr {
	background: url(../images/cw-bg1.gif) repeat-y 50% 0;
}

#ja-containerwrap-fr #ja-containerwrap2 {
	background: url(../images/cw-bg2.gif) no-repeat 50% 0;
}

/* HEADER
--------------------------------------------------------- */
#ja-headerwrap {
	background: #333333;
	color: #CCCCCC;
	line-height: normal;
	height: 245px;
	background: url(../images/bg_header.jpg) repeat-x;
}

#ja-header {
	position: relative;
	height: 198px;
	width:100%!important;
	background: url(../images/bg_banderin.jpg) bottom center no-repeat;
}

#ja-header-menu{
	position: relative;
	height: 48px;
	z-index:9999!important;
}

#ja-header-menu-left{
	/*width:800px;*/
	width:805px;
	height:48px;
	float:left;
	background-repeat:no-repeat;
	
	}

#ja-header-menu-left ul.menu{
	list-style:none outside none;
	margin-top:1px;
	margin-left:0;
	margin-bottom:0;
	margin-right:0;
	}

#ja-header-menu-left ul.menu li{
	float:left;
	background:none!important;
	padding-left:10px;
	padding-right:10px;
	height:44px;
	margin:0!important;
	border-right:1px solid #6C6C6C;
	}

#ja-header-menu-left ul.menu li a span{
	color:#FFF!important;
	text-decoration:none!important;	
	}

#ja-header-menu-left ul.menu li a{
	font-size:125%;
	text-decoration:none!important;
	height:44px!important;
	line-height:43px;
	display:block;
	}

#ja-header-menu-left ul.menu li.active{
	background: url(../images/bg_menu_active.jpg) repeat-x!important;

	}

#ja-header-menu-left ul.menu li:hover{
	background: url(../images/bg_menu_active.jpg) repeat-x!important;
	color:#FF1011!important;
	}

#ja-slide{
	width:100%;
	height:426px;
	z-index:1!important;
	}

#normatividad{
	width:471px;
	height:101px;
	background:url(../images/normatividad.jpg) no-repeat!important;
	background-color:#FFF!important;
	}

#normatividad-in{
	width:355px;
	float:right;
	}

#encuesta{
	width:471px;
	height:140px;
	background:url(../images/encuesta.jpg) no-repeat!important;
	background-color:#FFF!important;
	}

#encuesta-in{
	width:355px;
	float:right;
	}
	
#contactenos{
	width:471px;
	height:101px;
	background:url(../images/contactenos.jpg) no-repeat!important;
	background-color:#FFF!important;
	}

#contactenos-in{
	width:355px;
	float:right;
	}
	

.mision{
	width:100%;
	height:65px;
	background:url(../images/bg_misvis.jpg) no-repeat!important;
	border-bottom:1px solid #6C6C6C;
	}

.mision h3 {
    color: #717171;
    font-size: 22px !important;
    font-weight: normal;
    padding-left: 45px;
    padding-top: 29px;
}

#ja-buscador{
	width:100%;
	height:45px;	
	}

#ja-buscador-in .button{
	width:35px;
	height:25px;
	background:#F00;
	text-indent:-9999px;
	border:none!important;
	background: url(../images/bg_search.jpg);
	background-repeat:no-repeat;
	}

#ja-buscador-in #mod_search_searchword{
	border:none!important;
	}

#ja-buscador-in{
	width:270px;
	float:right;
	text-align:right;
	padding-top:5px;
	}
	
#ja-buscador-caja{
	padding:4px;
	background: url(../images/bg_search_caja.jpg);
	background-repeat:no-repeat;
	background-position:right;
	
	}
#ja-buscador-date{
	float:right;
	padding-right:5px;
	color:#8A8C8B;
	font-size:115%;
	padding-top:10px;
	}

#Mod22{
	margin-bottom:10px;
	}

#Mod22 div div div{
	padding:0!important;
	}

#Mod23 div div div div h3{
	margin-right:-6px;
	margin-left:1px;
	margin-bottom:6px;
	}

#Mod26 div div div div h3{
	margin:0 -21px -14px -14px!important;
	clear:both;
	}

div #Mod23 div div div{
	padding:0!important;
	}

#Mod23 div div div .jamod-content{
	width:100%!important;
	}
	


.wk-accordion-default #acc-1{
	color:#6D6F6E!important;
	background: url(../images/bg_accordion_preguntas.jpg);
	background-repeat:no-repeat;
	width:100%;
	height:38px;
	padding:0 0 0 50px;
	line-height:32px;
	font-weight:normal!important;
	
}

/*Para la calculadora laboral*/

#ja-banner #acc-1{
	background: url(../images/bg_accordion_preguntas_cal.jpg);
	background-repeat:no-repeat;
}

#ja-banner #acc-2{
	background: url(../images/bg_accordion_normatividad_cal.jpg);
	background-repeat:no-repeat;
}

.wk-accordion-default #acc-12{
	color:#6D6F6E!important;
	background: url(../images/bg_accordion_contactenos.jpg);
	background-repeat:no-repeat;
	width:100%;
	height:38px;
	padding:0 0 0 50px;
	line-height:32px;
	font-weight:normal;
	
}

.wk-accordion-default #acc-2{
	color:#6D6F6E!important;
	background: url(../images/bg_accordion_normatividad.jpg);
	background-repeat:no-repeat;
	width:100%;
	height:38px;
	padding:0 0 0 50px;
	line-height:32px;
	font-weight:normal;
	
}

.wk-accordion-default #acc-5{
	color:#6D6F6E!important;
	background: url(../images/bg_accordion_encuestas.jpg);
	background-repeat:no-repeat;
	width:100%;
	height:38px;
	padding:0 0 0 50px;
	line-height:32px;
	font-weight:normal;
	
}

.wk-accordion-default #acc-3{
	color:#6D6F6E!important;
	background: url(../images/bg_accordion_foro.jpg);
	background-repeat:no-repeat;
	width:100%;
	height:38px;
	padding:0 0 0 50px;
	line-height:32px;
	font-weight:normal;
	
}

.wk-accordion-default #acc-4{
	color:#6D6F6E!important;
	background: url(../images/bg_accordion_glosario.jpg);
	background-repeat:no-repeat;
	width:100%;
	height:38px;
	padding:0 0 0 50px;
	line-height:32px;
	font-weight:normal;
	
}

.wk-accordion-default #acc-7{
	color:#6D6F6E!important;
	background: url(../images/bg_accordion_foro.jpg);
	background-repeat:no-repeat;
	width:100%;
	height:38px;
	padding:0 0 0 50px;
	line-height:32px;
	font-weight:normal;
	
}

.wk-accordion-default #acc-8{
	color:#6D6F6E!important;
	background: url(../images/bg_accordion_glosario.jpg);
	background-repeat:no-repeat;
	width:100%;
	height:38px;
	padding:0 0 0 50px;
	line-height:32px;
	font-weight:normal;
	
}

.wk-accordion-default #acc-9{
	color:#6D6F6E!important;
	background: url(../images/bg_accordion_formatos.jpg);
	background-repeat:no-repeat;
	width:100%;
	height:38px;
	padding:0 0 0 50px;
	line-height:32px;
	font-weight:normal;
	
}

#Kunena #ktab a{
	background: url(../images/bg_menu_noticias.jpg)!important;
	color:#5B5B5B!important;
	height: 27px !important;
    line-height: 26px!important;
    padding: 0 !important;
    width: 95px!important;
	text-align:center!important;
	}

#Kunena #ktab ul.menu li.active a{
	border:1px solid #BA0A1F;
	background: url(../images/bg_tab_foro_active.jpg)!important;
	color:#FFF;
	width:150px!important;
	}

#Kunena div.kblock > div.kheader, #Kunena .kblock div.kheader{
	background: url(../images/bg_table_foro.jpg) repeat-x!important;
	}

.kms a{
	color:#FFF!important;
	}

#ja-buscador-in #mod_search_searchword{
	width:195px;
	}

#ja-modulos-home{
	width:100%;
	clear:both;
	}

#ja-modulos-home-left{
	width:471px;
	float:left;
	}

#ja-modulos-home-right{
	width:235px;
	float:right;
	}

.content-wrapper{
	width:100%!important;
	}
	
.jamod-content{
	width:100%!important;
	}
.content-wrapper{
	/*width:472px!important;*/
	width:100% !important;
	}

.moduletable_noticias ul li a{
	width:95px;
	height:27px!important;
	margin-bottom:3px!important;
	text-transform:uppercase;
	border:1px solid #C4C4C4;
	color:#727272!important;
	background: url(../images/bg_menu_noticias.jpg) repeat-x!important;
	padding:0!important;
	line-height:26px!important;
	}

.moduletable_noticias {
    background: url(../images/hdot.gif) repeat-x scroll center bottom transparent;
    margin-bottom: 15px;
    padding: 0 0 15px;
}

.moduletable_noticias ul li a span{
	background:none!important;
	padding-left:3px!important;
	}

.moduletable_anos ul li a{
	width:95px;
	height:27px!important;
	margin-bottom:3px!important;
	text-transform:uppercase;
	border:1px solid #C4C4C4;
	color:#727272!important;
	background: url(../images/bg_menu_noticias.jpg) repeat-x!important;
	padding:0!important;
	line-height:26px;
	}

.moduletable_anos {
    background: url(../images/hdot.gif) repeat-x scroll center bottom transparent;
    margin-bottom: 15px;
    padding: 0 0 15px;
}

.moduletable_anos ul li a span{
	background:none!important;
	padding-left:3px!important;
	}

.moduletable_meses h3{
	margin:0!important;
	padding:0 0 0 10px!important;
	width:86px!important;
	height:25px!important;
	border:1px solid #B70C1C!important;
	background: url(../images/bg_year.jpg)!important;
	font-family:Arial, Helvetica, sans-serif!important;
	color:#FFF;
	line-height:26px;
	}

.moduletable_meses {
    background: url(../images/hdot.gif) repeat-x scroll center bottom transparent;
    margin-bottom: 10px;
    padding: 0 0 15px;
}

.anos-fotos{
	width:100%;
	height:74px;
	background: url(../images/bg_fotosmeses.jpg) repeat-x scroll center bottom transparent;
	}

.anos-fotos .moduletable_meses{
	padding-top:8px!important;
	padding-bottom:5px!important;
	background:none!important;
	margin:0!important;
	}


.anos-fotos-dos li{
	float:left;
	}

.anos-fotos-dos li.item80{
	padding-left:0px!important;
	}

.anos-fotos-dos ul.menu li a span {
    background: none repeat scroll 0 0 transparent !important;
    border-right: 1px solid #737373;
    padding-left: 10px !important;
    padding-right: 10px;
}

#hwdps_navcontainer{
	width:100%!important;
	height:60px!important;
	}

#hwdps_navcontainer ul{
	padding-top:12px!important;
	}
	
#hwdps{
	background: url(../images/bg_fotosfotos.jpg) repeat-x;
	}

#hwdps_navcontainer li#active a{
	color:#FFF!important;
	font-weight:normal!important;
	}
	
#hwdvs_navcontainer li#active a{
	color:#FFF!important;
	font-weight:normal!important;
	}	

#hwdps_navcontainer ul li a{
	color:#737373!important;
	font-weight:normal!important;
	}


#hwdps_navcontainer ul li:hover{
	background: url(../../../plugins/hwdps-template/default/images/button_nav_off.png) no-repeat scroll center top transparent!important;
	}

/*#ja-header-menu-left ul.menu li a span:hover{
	color:#FF1011!important;
	}
*/

#ja-header-menu-left ul.menu li.active a{
	background-color:none!important;
	}

#ja-header-menu-left ul.menu li.active a span{
	color:#FF1011!important;
	}


#ja-header-menu-right{
	/*width:155px;*/
	width:155px;
	height:48px;
	float:right;
	}
	
#ja-header-menu-right .smile{
	padding-top:4px;
	}	


.blog .franja{
	width:509px;
	}
	

.standard h2{
	background: url(../images/bg_noticias_large.jpg)!important;
	background-repeat:no-repeat;
	}

.franja{
	width:100%;
	height:31px;
	background: url(../images/bg_noticias_large.jpg);
	background-repeat:no-repeat;
	padding-left:42px;
	font-weight:bold;
	color:#FFF;
	line-height:30px;
	clear:both;
	}

.franja2{
	width:100%;
	height:31px;
	background: url(../images/bg_noticias_large.jpg);
	background-repeat:no-repeat;
	padding-left:42px;
	font-weight:bold;
	color:#FFF;
	line-height:30px;
	clear:both;
	}

.franja3{
	width:509px;
	height:31px;
	background: url(../images/bg_noticias_large.jpg);
	background-repeat:no-repeat;
	padding-left:42px;
	font-weight:bold;
	color:#FFF;
	line-height:30px;
	clear:both;
	}

.menuin li{
	background:url(../../../images/bullet_menu.jpg);
	background-repeat:no-repeat;
	}

.fechita{
	color:#6C6C6C!important;
	font-size:10px;
	}

.entradilla{
	color:#6C6C6C!important;
	}

#Mod38{
	border-top:1px solid #6E6E6E;
	margin-bottom:5px;
	}

.GNV2_static_1, .GNV2_static_2{
	border-bottom:1px solid #6E6E6E;
	padding-top:5px;
	}

#Mod38 a{
	text-decoration:none;
	color:#FD0304!important;
	font-weight:bold;
	}

#audiosmp3{
	background: url(../images/audios.jpg) no-repeat;
	padding-left:21px;
	}

.menuglosario{ clear:both!important; padding-top:10px; padding-left:78px;}

.menuglosario ul.menu li{
	float:left;
	}

.menuglosario ul.menu li.active a span{
	background:url(../images/bg_letra.jpg) repeat-x!important;
	color:#FE020D!important;
	}

.menuglosario ul.menu li a span{
	padding:3px!important;
	border:1px solid #CCC;
	margin-left:5px!important;
	background:url(../images/bg_letra.jpg) repeat-x!important;
	}

.menuglosario ul li a span{
	background:#FFF!important;
	background:url(../images/bg_letra.jpg) repeat-x!important;
	}

/******************************/
.menufotografias{ clear:both!important;}

.menufotografias ul.menu li{
	float:left;
	}

.menufotografias ul.menu li.active a span{
	width:95px;
	height:27px!important;
	margin-bottom:3px!important;
	text-transform:uppercase;
	border:1px solid #C4C4C4;
	background: url(../images/bg_menu_noticias.jpg) repeat-x!important;
	padding:0!important;
	line-height:26px;
	color:#FE020D!important;
	}

.menufotografias ul li a span {
    background: none repeat scroll 0 0 transparent !important;
    padding-left: 3px !important;
}

.menufotografias ul li a{
	width:95px;
	height:27px!important;
	margin-bottom:3px!important;
	text-transform:uppercase;
	border:1px solid #C4C4C4;
	color:#727272!important;
	background: url(../images/bg_menu_noticias.jpg) repeat-x!important;
	padding:0!important;
	line-height:26px;
	margin-right:15px;
	}

/*****************************/

.djslider-loader{
	padding-top:40px;
	}

.slide-desc-bg{
	background:#000!important;
	}
	
.slide-desc-text .slide-title{
	color:#CCC!important;
	}

#ja-header img{
	padding-top:4px;
	}
	
.ja-headermask {
	width: 602px;
	display: block;
	background: url(../images/header-mask.png) no-repeat top right;
	height: 80px;
	position: absolute;
	top: 0;
	right: -1px;
}

#ja-header a {
	color: #CCCCCC;
}

h1.logo, h1.logo-text {
	margin: 0 0 0 5px;
	padding: 0;
	font-size: 180%;
	text-transform: uppercase;
}

h1.logo a {
	width: 208px;
	display: block;
	background: url(../images/logo.png) no-repeat;
	height: 80px;
	position: relative;
	z-index: 100;
}

h1.logo a span {
	position: absolute;
	top: -1000px;
}

h1.logo-text a {
	color: #CCCCCC !important;
	text-decoration: none;
	outline: none;
	position: absolute;
	bottom: 40px;
	left: 5px;
}

p.site-slogan {
	margin: 0;
	padding: 0;
	padding: 2px 5px;
	color: #FFFFFF;
	background: #444444;
	font-size: 92%;
	position: absolute;
	bottom: 20px;
	left: 0;
}

/* Search */
#ja-search {
	padding-left: 20px;
	background: url(../images/icon-search.gif) no-repeat center left;
	position: absolute;
	bottom: 15px;
	right: 0;
}

#ja-search .inputbox {
	width: 120px;
	border: 1px solid #333333;
	padding: 3px 5px;
	color: #999999;
	background: #444444;
	font-size: 92%;
}

/* MAIN NAVIGATION
--------------------------------------------------------- */

#ja-pathway {
	font-size: 92%;
	color:#666;
}

#ja-pathway strong {
	margin-right: 5px;
	font-weight: normal;
}

#ja-pathway a {
	text-decoration: none;
	color:#666;
}

#ja-pathway img {
	margin: 1px 5px;
}

/* MODULE
--------------------------------------------------------- */
div.moduletable,
div.moduletable_menu,
div.moduletable_text {
	padding: 0 0 20px;
	margin-bottom: 15px;
	background: url(../images/hdot.gif) repeat-x bottom;
}

div.moduletable h3,
div.moduletable_menu h3,
div.moduletable_text h3 {
	padding: 0 0 8px;
	margin: 0;
	color: #7BA566;
	font-size: 125%;
	font-weight: bold;
	text-transform: uppercase;
}

/* Module rounded */
div.module h3 {
	margin: 0 -15px 10px;
	padding: 7px 40px 7px;
	border-bottom: 2px solid #F6F6F6;
	color: #7BA566;
	font-size: 125%;
	font-weight: bold;
	background: url(../images/bg_title_modulo.jpg) no-repeat;
}

div.module_black,
div.module_green,
div.module_blue,
div.module_red,
div.module {
	margin-bottom:0 	;
	float: left;
	clear: both;
	width: 100%;
	background: url(../images/b-br.gif) no-repeat bottom right #FFFFFF;
}

div.module div {
	background: url(../images/b-bl.gif) no-repeat bottom left;
}

div.module div div {
	background: url(../images/b-tr.gif) no-repeat top right;
}

div.module div div div {
	padding: 0 15px 10px;
	background:none;
}

div.module_black div div div div,
div.module_green div div div div,
div.module_blue div div div div,
div.module_red div div div div,
div.module_text div div div div,
div.module div div div div {
	margin: 0;
	padding: 0;
	float: none;
	width: 99%;
	background: none;
}

div.module_text h3 {
	margin: 0 0 10px;
	width: 100%;
	clear: both;
	display: block;
	overflow: hidden;
}

div.module_text span {
	padding: 0 3px 0 0;
	float: left;
	clear: both;
	display: block;
	background: #F6F6F6;
	font-weight: bold;
}

div.module_text {
	margin-bottom: 20px;
	padding: 0;
	float: left;
	clear: both;
	width: 100%;
	background: url(../images/bt-br.gif) no-repeat bottom right #F6F6F6;
}

div.module_text div {
	background: url(../images/bt-bl.gif) no-repeat bottom left;
}

div.module_text div div {
	background: url(../images/bt-tr.gif) no-repeat top right;
}

div.module_text div div div {
	padding: 0 15px 10px;
	display: block;
	background: url(../images/bt-tl.gif) no-repeat top left;
}

div.banneritem_text {
	padding: 5px 0 !important;
}

/* red */
div.module_black h3,
div.module_green h3,
div.module_blue h3,
div.module_red h3 {
	margin: 0 -15px 10px;
	padding: 8px 15px 5px;
	border-bottom: 1px solid #F6F6F6;
	color: #FFFFFF;
	font-size: 125%;
	font-weight: bold;
	text-transform: uppercase;
}

div.module_red {
	background: url(../images/br-br.gif) no-repeat bottom right #BF0000;
	color: #FFFFFF;
}

div.module_red div {
	background: url(../images/br-bl.gif) no-repeat bottom left;
}

div.module_red div div {
	background: url(../images/br-tr.gif) no-repeat top right;
}

div.module_red div div div {
	padding: 0 15px 10px;
	background: url(../images/br-tl.gif) no-repeat top left;
}

/* blue */
div.module_blue {
	background: url(../images/bb-br.gif) no-repeat bottom right #006699;
	color: #FFFFFF;
}

div.module_blue div {
	background: url(../images/bb-bl.gif) no-repeat bottom left;
}

div.module_blue div div {
	background: url(../images/bb-tr.gif) no-repeat top right;
}

div.module_blue div div div {
	padding: 0 15px 10px;
	background: url(../images/bb-tl.gif) no-repeat top left;
}

/* green */
div.module_green {
	background: url(../images/bg-br.gif) no-repeat bottom right #7BA566;
	color: #FFFFFF;
}

div.module_green div {
	background: url(../images/bg-bl.gif) no-repeat bottom left;
}

div.module_green div div {
	background: url(../images/bg-tr.gif) no-repeat top right;
}

div.module_green div div div {
	padding: 0 15px 10px;
	background: url(../images/bg-tl.gif) no-repeat top left;
}

/* black */
div.module_black {
	background: url(../images/bl-br.gif) no-repeat bottom right #333333;
	color: #FFFFFF;
}

div.module_black div {
	background: url(../images/bl-bl.gif) no-repeat bottom left;
}

div.module_black div div {
	background: url(../images/bl-tr.gif) no-repeat top right;
}

div.module_black div div div {
	padding: 0 15px 10px;
	background: url(../images/bl-tl.gif) no-repeat top left;
}

div.module_blue ul,
div.module_blue ol,
div.module_red ul,
div.module_red ol,
div.module_black ul,
div.module_black ol,
div.module_green ul,
div.module_green ol {
	margin: 0;
	padding: 0;
}

div.module_blue li,
div.module_red li,
div.module_black li,
div.module_green li {
	margin-left: 20px;
	padding: 0;
	line-height: 150%;
}

div.module_blue a,
div.module_red a,
div.module_black a,
div.module_green a {
	color: #FFFFFF;
}

div.advs {
	float: left;
	width: 100%;
	clear: both;
	display: block;
}

/* LEFT COLUMN + RIGHT COLUMN
--------------------------------------------------------- */
#ja-col1 {
	float: left;
	width:155px;
	padding-top: 10px;
	overflow: hidden;
}

#ja-col2 {
	float: right;
	width: 235px;
	overflow: hidden;
}

#ja-col1 table,
#ja-col2 table {
	border-collapse: collapse;
	border-spacing: 0;
}

#ja-col1 ul li,
#ja-col2 ul li {
	padding-left: 15px;
	margin: 0;
	/*background: url(../images/bullet.gif) no-repeat 5px 50%;*/
}

#ja-col1 ul, #ja-col2 ul {
	margin: 0;
}

#ja-col1 ol, #ja-col2 ol {
	margin-left: 5px;
}

#ja-col1 .article_separator,
#ja-col2 .article_separator {
	display: none;
}

/* SPOTLIGHT
--------------------------------------------------------- */
/* Spotlight Box Style */
.ja-box-full, .ja-box-left, .ja-box-center, .ja-box-right {
	float: left;
	overflow: hidden;
}

.ja-box-left div.moduletable,
.ja-box-full div.moduletable {
	padding-right: 30px;
	background: none;
}

.ja-box-right div.moduletable {
	padding-left: 30px;
	background: url(../images/vdot2.gif) repeat-y left;
}

.ja-box-center div.moduletable {
	padding: 0 30px;
	background: url(../images/vdot2.gif) repeat-y left;
}

#ja-botsl h3 {
	background: none;
}

#ja-botslwrap {
	background: url(../images/bg_logos_footer.jpg) repeat-x;
	color: #CCCCCC;
	margin-top:10px;
}

#ja-botsl {
	padding:0;
}

#ja-botsl div.moduletable {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}

#ja-botsl h3 {
	margin: 0 0 12px;
	padding: 0;
	color: #FFFFFF;
}

#ja-botsl a {
	color: #CCCCCC;
}

#ja-botsl a:hover, #ja-botsl a:active, #ja-botsl a:focus {
	color: #FFFFFF;
}

#ja-botsl ul, #ja-botsl p, #ja-botsl ol {
	padding: 0;
	margin: 0 !important;
}

#ja-botsl ul li {
	padding: 0 0 0 15px;
	margin: 0;
	background: url(../images/bullet2.gif) no-repeat 3px 8px;
}

#ja-botsl ol li {
	margin-left: 25px;
	padding: 0 !important;
}

#ja-botsl td {
	padding: 0;
}

#ja-botsl .article_separator {
	display: none;
}

#ja-botsl table {
	border-spacing: 0;
	border-collapse: collapse;
}

/* FOOTER
--------------------------------------------------------- */
#ja-footerwrap {
	clear: both;
	background: url(../images/bg_footer_red.jpg) repeat-x;
	height:117px;
}

#ja-footer {
	padding: 0;
	width:100%;
	height:117px;
	color: #666666;
	position: relative;
}

.pie-content{
	width:100%;
	padding-top:5px;
	}

.pie{
	width:100%;
	height:112px;
	}

.pie1{
	width:380px;
	height:112px;
	float:left;
	background: url(../images/bg_pie.jpg) no-repeat;
	color:#FFF;
	}

.pie1 p{
	color:#FFF;
	font-weight:bold;
	margin-top:5px!important;
	margin-bottom:3px!important;
}

.pie2{
	width:345px;
	height:112px;
	float:left;
	background: url(../images/bg_pie.jpg) no-repeat;
	color:#FFF;

	}

.pie2 p{
	color:#FFF;
	font-weight:bold;
	margin-top:5px!important;
	margin-bottom:3px!important;

}

.pie3 p{
	padding-left:10pxpx;
	color:#FFF;
	font-weight:bold;
	margin-top:5px!important;
	margin-bottom:3px!important;
}

.pie3{
	width:230px;
	height:112px;
	float:right;
	background: url(../images/pie_3.jpg) no-repeat;
	color:#FFF;
	}

.pie-in{
	padding-top:6px;
	padding-left:10px;
	}

.pie3-in{ padding-top:10px; padding-left:10px;}

#ja-footer .copyright {
	clear: both;
	display: block;
	padding-left: 25%;
	color: #666666;
	font-style: normal;
	font-size: 92%;
}

#Mod35, #Mod36{
	padding-bottom:10px;
	}

#Mod40 div div div{
	padding:0;
	}

#Mod42 div div div{
	padding:0;
	}

#Mod43 div div div .jamod-content ul li{
	float:left;
}

#Mod43 div div div .jamod-content ul li a span{
	background:none!important;
	padding-left:10px;
}

#Mod41 div div div{
	padding:0;
	}

#Mod41{
	height:243px;
	}

#Mod40 h3 {
    background: url(../images/bg_title_modulo.jpg) no-repeat scroll 0 0 transparent;
    border-bottom: 2px solid #F6F6F6;
    color: #7BA566;
    font-size: 125%;
    font-weight: bold;
    margin:0px;
	width:192px;
	height:32px;
	padding:0;
	line-height:34px;
	padding-left:40px;
}

#Mod40 .jamod-content{
	color:#6C6C6C;
	}

.date{
	color:#FD0304 !important;
	font-weight:bold;
	}

.jamod-content .eventlistmod li{
	padding:0px;
	border-bottom:1px solid #6E6E6E;
	padding-top:5px;
	}

.jamod-content .eventlistmod{
	margin-top:0!important;
	}

#Mod35 h3 {
    background: url(../images/bg_title_modulo.jpg) no-repeat scroll 0 0 transparent;
    border-bottom: 2px solid #F6F6F6;
    color: #7BA566;
    font-size: 125%;
    font-weight: bold;
    margin:0px;
	width:192px;
	height:32px;
	padding:0;
	line-height:34px;
	padding-left:40px;
}

#Mod36 .gn_static_1{
	border-bottom:1px solid #6E6E6E;
	padding-bottom:10px!important;
	}

#Mod36 .gn_static_1 a{
	text-decoration:none!important;
	color:#737373!important;
	}

#Mod36 div div div{
	padding:0!important;
	}

#Mod36 h3 {
    background: url(../images/bg_title_modulo.jpg) no-repeat scroll 0 0 transparent;
    border-bottom: 2px solid #F6F6F6;
    color: #7BA566;
    font-size: 125%;
    font-weight: bold;
    margin:0px;
	width:192px;
	height:32px;
	padding:0;
	line-height:34px;
	padding-left:40px;
}

/*****/
#Mod84 div div {
	padding:0!important;
	}
/*****/

#Mod84 h3 {
    background: url(../images/bg_title_modulo.jpg) no-repeat scroll 0 0 transparent;
    border-bottom: 2px solid #F6F6F6;
    color: #7BA566;
    font-size: 125%;
    font-weight: bold;
    margin:0px;
	width:192px;
	height:32px;
	padding:0;
	line-height:34px;
	padding-left:40px;
}

#Mod84 a{
	color:#737373 !important;
	text-decoration:none;
	}

#Mod84 li{
	padding-left:0!important;
	line-height:150%!important;
	margin-bottom:5px;
	border-bottom:1px solid #6E6E6E!important;
	}

#Mod36 .gn_static_2{
	border-bottom:1px solid #6E6E6E;
	padding-bottom:10px!important;
	}

#Mod36 .gn_static_2 a{
	text-decoration:none!important;
	color:#737373!important;
	}

#ja-footnav {
	padding-left: 25%;
}

#ja-footer ul {
	margin: 0 0 5px;
	padding: 0;
}

#ja-footer li {
	margin: 0;
	padding: 0;
	display: inline;
	background: none;
}

#ja-footer li a {
	padding: 0 15px 0 0;
	display: inline;
	color: #666666;
	font-weight: bold;
	font-size: 92%;
	line-height: normal;
	text-decoration: none;
	text-transform: uppercase;
}

#ja-footer li a:hover, #ja-footer li a:active, #ja-footer li a:focus {
	color: #333333;
	text-decoration: none;
}

.ja-cert {
	font-size: 92%;
	position: absolute;
	right: 0;
	top: 18px;
}

.ja-cert a {
	margin: 0 0 0 5px;
	padding: 0;
	border: none;
	border: none;
	text-decoration: none;
}

.ja-cert a span {
	display: none;
}

.ja-cert a img {
	border: none;
}

.banneritem {
	display: block;
	margin-top: 15px;
}

/* MISCELLANOUS
----------------------------------------------------------- */
ul.accessibility {
	position: absolute;
	top: -100%;
}

/*usertool*/
ul.ja-usertools-font {
	font-size: 11px;
	position: absolute;
	top: 8px;
	right: 70px;
}

ul.ja-usertools-font li {
	padding: 0;
	margin: 0;
	display: inline;
	background: none;
}

/*collapsible h3*/
h3.show {
	background:none;
}

h3.hide {
	background: url(../images/arrow3.png) no-repeat 90% 60%;
	cursor: pointer;
}

/*others*/
#ja-banner {
	margin:0;
}

div.back_button a,
div.back_button a:hover,
div.back_button a:active {
	margin: 10px 0;
	display: block;
	background: none!important;
	text-decoration: none!important;
}

#form-login p {
	margin: 0 0 5px;
}

#form-login ul {
	margin: 10px 0 0;
}

#form-login .inputbox {
	width: 90%;
}

.clr {
	clear: both;
}

.hasTip img {
	margin: 10px 5px 0 0;
	border: none;
}

/* Tooltips */
.tool-tip {
	float: left;
	border: 1px solid #D4D5AA;
	padding: 5px;
	background: #FFFFCC;
	max-width: 200px;
}

.tool-title {
	padding: 0;
	margin: 0;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
	font-size: 100%;
	font-weight: bold;
}

.tool-text {
	margin: 0;
	font-size: 100%;
}

#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul {
	padding: 0;
	margin: 0;
}

#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li {
	background: url(../images/grad1.jpg) repeat-x top #C3110F;
	padding: 5px;
	margin: 0;
	color: #FFFFFF;
}

/* System Standard Messages */
#system-message dd.message ul {
	background: #006699;
	border: none;
}

/* System Error Messages */
#system-message dd.error ul {
	background: #BF0000;
	border: none;
}

/* System Notice Messages */
#system-message dd.notice ul {
	background: #EE9600;
	border: none;
}

/* Clearfix */
.clearfix:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

* html > body .clearfix {
	width: 100%;
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* Firefox Scrollbar Hack - Do not remove */
html {
	margin-bottom: 1px;
	height: 100%!important;
	height: auto;
}

.funcionarios{
	background: url(../images/tabla/funcionarios.jpg);
	background-repeat:no-repeat;
	color:#FFF;
	}

.funcionarios h3{
	color:#FFF;
	padding-top:6px;
	padding-left:10px;
	}

.ext h3{
	color:#FFF;
	padding-top:6px;
	padding-left:10px;
	}

.ext{
	background: url(../images/tabla/ext.jpg);
	background-repeat:no-repeat;
	color:#FFF;
	}
	
.cargo h3{
	color:#FFF;
	padding-top:6px;
	padding-left:10px;
	}

.cargo{
	background: url(../images/tabla/cargo.jpg);
	background-repeat:no-repeat;
	color:#FFF;
	}
	
.despachos{
	background:#D9D9D9;
	}
	
.despachos-in{
	padding-top:3px;
	color:#E80111;
	font-weight:bold;
	}

.gris{
	padding-top:3px;
	}

.grisclaro1{
	background: url(../images/tabla/grisoscuro1.jpg);
	background-repeat:no-repeat;
	color:#404040;
	}
	
.grisclaro1 span{
	padding-left:5px;
	}

.grisclaro2{
	background: url(../images/tabla/grisoscuro2.jpg);
	background-repeat:no-repeat;
	color:#404040;
	}
	
.grisclaro2 span{
	padding-left:5px;
	}


.grisclaro3{
	background: url(../images/tabla/grisoscuro3.jpg);
	background-repeat:no-repeat;
	color:#404040;
	}
	
.grisclaro3 span{
	padding-left:5px;
	}
	
/*****/

.grisoscuro1{
	background: url(../images/tabla/grisclaro1.jpg);
	background-repeat:no-repeat;
	color:#404040;
	}
	
.grisoscuro1 span{
	padding-left:5px;
	}

.grisoscuro2{
	background: url(../images/tabla/grisclaro2.jpg);
	background-repeat:no-repeat;
	color:#404040;
	}
	
.grisoscuro2 span{
	padding-left:5px;
	}


.grisoscuro3{
	background: url(../images/tabla/grisclaro3.jpg);
	background-repeat:no-repeat;
	color:#404040;
	}
	
.grisoscuro3 span{
	padding-left:5px;
	}


.dirtable{
	background: url(../images/tabla/tabladir.jpg);
	background-repeat:no-repeat;
	}

.dirtable h3{
	color:#FFF;
	padding-left:6px;
	}
	
.dirtable2 h3{
	color:#FFF;
	padding-left:6px;
	}

.dirtable2{
	background: url(../images/tabla/tabladir2.jpg);
	background-repeat:no-repeat;	
	font-size:11px;
	}

.dirtable3{
	background: url(../images/tabla/dirta.jpg);
	background-repeat:no-repeat;
	font-size:11px;
	}

.dirtable4{
	background: url(../images/tabla/dirta1.jpg);
	background-repeat:no-repeat;
	font-size:11px;
	}

.dirtable5{
	background: url(../images/tabla/dirta2.jpg);
	background-repeat:no-repeat;
	font-size:11px;
	}

.dirtable6{
	background: url(../images/tabla/dirta3.jpg);
	background-repeat:no-repeat;
	font-size:11px;
	}

#offlajn-accordion-92-1-container dl.level2 .inner{
	width:130px;
	}

#offlajn-accordion-92-1-container dl.level1 .inner{width:130px;}

#offlajn-accordion-92-1-container dl.level1 dt.parent.opened .inner, #offlajn-accordion-92-1-container dl.level1 dt.parent.opening .inner{
	background-image:url(../images/closed.jpg)!important;
	background-position:left center!important;
	}
	
#offlajn-accordion-92-1-container dl.level1 dt.parent .inner{
	background-image:url(../images/opened.jpg)!important;
	background-position:left center!important;
	}

#offlajn-accordion-92-1-container dl.level1 dt.opening a, #offlajn-accordion-92-1-container dl.level1 dt.opening a span, #offlajn-accordion-92-1-container dl.level1 dt.opened a, #offlajn-accordion-92-1-container dl.level1 dt.opened a span, #offlajn-accordion-92-1-container dl.level1 dt.active a, #offlajn-accordion-92-1-container dl.level1 dt.active a span{
	color:#FD060F!important;
	}

/*
#offlajn-accordion-91-1-container dl.level1 .inner{
	padding:2px 2px 2px 0!important;
	}

#offlajn-accordion-91-1-container .level2 dt{
	margin:0!important;
	}

#offlajn-accordion-91-1-container dl.level2 .inner{
	padding:2px 2px 2px 0!important;
	}

#offlajn-accordion-91-1-container dl.level1 dt.parent.opened .inner, #offlajn-accordion-91-1-container dl.level1 dt.parent.opening .inner{
	background-image:none!important;
	}

*/

.gk_news_image_1_tb img{
	cursor:pointer;
	cursor:hand;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}

.gk_news_image_1_tb img:hover{
	 /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter:  alpha(opacity=100);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity: 1;

  /* Good browsers */
  opacity: 1;
}

.article-content ul{
	margin-left:15px;
	}

.article-content ul li{
	padding-left:10px!important;
	}
	
.fuente{
	font-size:9px;
	color:#FD0304 !important;
	}

#ja-banner ul li{
	padding-left:0px!important;
	}
	
.slides-container ul li{
		padding-left:0px!important;

	}

#Mod84 .leermas{
	color:#F00!important;
	font-size:11px;
	}
	
/*WEBMASTER*/

/*Artículos*/

.foto_articulo{
	padding: 5px; 
	background-color: #e6e6e6; 
	clear: both; width: 538px; 
	border: 1px solid #cccccc; 
	font-size: 11px; 
	text-align: justify;"
}

.audio_articulo{
	width: 250px; 
	float: right; 
	background: #EEEEEE; 
	border: 1px #CCCCCC solid; 
	padding: 10px; 
	margin: 10px;
}

.audio_articulo h4{
	text-align: center;
	color: #ff0000;
}

/*Recuadro utilizado en los presupuestos, publicaciones*/
.recuadro_blanco{
	border: 1px #CCCCCC solid; 
	margin: 10px; 
	padding: 10px; 
	background: #FFFFFF;
	}

.recuadro_blanco p{
	line-height:1.5;
	font-size:85%;
}

.recuadro_blanco p a{
	color:#FF0000;
}

/*PARA TODOS LOS LANDING*/

.landing_titulo{
	font-size: 1.8em;
	line-height: 1.2;
}


/*LANDING PAGE MINTRABAJO*/

	#tel_teletrabajo
	{
		width: 720px;
	}

	#tel_teletrabajo h2
	{
		min-height: 30px;
	}

	.tel_ventanas
	{
		clear: both;
	}

	.tel_ventana
	{
		width:345px;
		height:180px;
		background-color:#E7E7E7;
		float: left;
		margin: 5px;
		border:1px #CCCCCC solid;
	}

	#tel_actualidad
	{
		background-image: url(/images/teletrabajo/background_ventanas.jpg);
		width: 702px;
		border:1px #CCCCCC solid;
		margin: 5px;
		clear: both;	
	}

	.tel_titulos
	{
		margin: 5px;
		padding: 5px;
		padding-left: 40px;
		min-height: 30px;
		border-bottom: 1px #CCCCCC solid;
		background-repeat: no-repeat;
	}

	.tel_titulos h3{
		font-size: 1.5em;
	}

	.tel_actualidad
	{
		width:328px;
		background-color:#FFF;
		border:1px #D2D2D2 solid;
		float: left;
		margin: 5px;
		padding: 5px;	
	}

	.tel_separador
	{
		clear: both;
	}

	.tel_noticias
	{
		width:345px;
		height:110px;
		background-color:#E7E7E7;
		float: left;
		margin: 5px;
		border:1px #CCCCCC solid;
	}

	#tel_videos
	{

		width: 650px;
		background-color:#FFFFFF; 
		border:1px #CCCCCC solid;
		margin: 5px;
		clear: both;
		border: 20px #FFFFFF solid;
	}

	.tel_utiles
	{
		width:224px;
		height: 110px;
		float: left;
		margin: 5px;
	}

	.tel_ancla{
		margin: 5px;
		margin-right: 15px;
		display: block;
		height:35px;
		text-align: right; 
	}

	#tel_invitacion{
		margin:6px;
		width: 702px;
	}

/* LNADING PAGE Abecé Teletrabajo */

	.telabece_columnas
	{
		width:33%;
		float: left;
	}

	.telabece_seccion
	{
		background: url(/images/teletrabajo/background_abece.jpg) repeat-x; 
		background-color:#FFFFFF;		
		border:1px #DDDDDD solid;		
		padding:4px;
		margin:5px;
	}

	.telabece_seccion h3
	{
		margin-bottom: 15px;
		color: #444444;

	}

	.telabece_seccion ol li
	{
		font-size: 12px;
		line-height:1.2;
		border-bottom:1px #DDDDDD solid;
		margin-bottom:10px;
		margin-left: 25px!important;
	}

	.telabece_seccion a
	{
		font-size:11px;
		color: #FD0304;
	}

	.telabece_seccion a:link{ text-decoration:none;}
	.telabece_seccion a:hover{ text-decoration:underline;}


/*LANDING PAGE EMPLEO*/

	#lan_empleo
	{
		width: 550px;
	}

	#lan_empleo h2
	{
		min-height: 30px;
	}

	#lan_empleo .tel_ventanas
	{
		clear: both;
	}

	#lan_empleo .tel_ventana
	{
		width:260px;
		height:180px;
		background-color:#E7E7E7;
		float: left;
		margin: 5px;
		border:1px #CCCCCC solid;
	}

	#lan_empleo #tel_actualidad
	{
		background-image: url(/images/teletrabajo/background_ventanas.jpg);
		width: 532px;
		border:1px #CCCCCC solid;
		margin: 5px;
		clear: both;	
	}

	#lan_empleo .tel_titulos
	{
		margin: 5px;
		padding: 5px;
		padding-left: 40px;
		min-height: 30px;
		border-bottom: 1px #CCCCCC solid;
		background-repeat: no-repeat;
	}

	#lan_empleo .tel_actualidad
	{
		width:243px;
		background-color:#FFF;
		border:1px #D2D2D2 solid;
		float: left;
		margin: 5px;
		padding: 5px;	
	}

	#lan_empleo .tel_separador
	{
		clear: both;
	}

	#lan_empleo .tel_noticias
	{
		width:260px;
		height:110px;
		background-color:#E7E7E7;
		float: left;
		margin: 5px;
		border:1px #CCCCCC solid;
	}

	#lan_empleo #tel_videos
	{

		width: 480px;
		background-color:#FFFFFF; 
		border:1px #CCCCCC solid;
		margin: 5px;
		clear: both;
		border: 20px #FFFFFF solid;
	}

	#lan_empleo ul li
	{
		padding-left: 10px!important;
	}