#blue { font-family: tahoma; color: #003366; font-size: 22px; font-weight: bold; text-decoration: none}

#bot  { font-family: verdana; color: #FFFFFF; font-size: 10px; font-weight: bold; text-decoration: none}
#txt  { font-family: verdana; color: #000000; font-size: 13px; font-weight: normal; text-decoration: none}
#ltl  { font-family: verdana; color: #000000; font-size: 9px; font-weight: normal; text-decoration: none}
#path { font-family: tahoma; color: #003366; font-size: 12px; font-weight: bold; text-decoration: none}
#link { font-family: tahoma; color: #E68A00; font-size: 13px; font-weight: normal}
#tit  { font-family: tahoma; color: #003366; font-size: 19px; font-weight: bold; text-decoration: none}
#subtit { font-family: tahoma; color: #003366; font-size: 13px; font-weight: bold; text-decoration: none}
#nav  { font-family: tahoma; color: #003366; font-size: 12px; font-weight: bold}

.blu  { background:#395F86}
.ara  { background:#FF9900}

.sil  { BACKGROUND-COLOR: #395f86; BORDER:#ff9f00 1px solid; font-family: verdana; color: #FFFFFF; font-size: 10px; font-weight: bold; text-decoration: none}

.lh1  { line-height:50%; font-size:2px; font-family:Verdana}
.lh6  { line-height:3m; font-size:2px; font-family:Verdana}
.lh10 { line-height:5m; font-size:2px; font-family:Verdana}

.tab  { padding-left:5px; font-family: verdana; color: #000000; font-size: 11px; font-weight: normal; text-decoration: none}