.blue { font-family: tahoma; color: #003366; font-size: 22px; font-weight: bold; text-decoration: none}
.nav { font-family: tahoma; color: #003366; font-size: 22px; font-weight: bold}
.arancio { font-family: tahoma; color: #FF9900; font-size: 26px; font-weight: bold; text-decoration: none}
.txt { font-family: tahoma; color: #000000; font-size: 15px; font-weight: normal; text-decoration: none}
.txtwhite { font-family: verdana; color: #ffffff; font-size: 15px; font-weight: normal; text-decoration: none}
.txtblue { font-family: verdana; color: #194D83; font-size: 10px; font-weight: normal; text-decoration: none}
.txtblue2 { font-family: verdana; color: #194D83; font-size: 11px; font-weight: normal; text-decoration: none}
.bot { font-family: verdana; color: #FFFFFF; font-size: 10px; font-weight: bold; text-decoration: none}
.index { font-family: tahoma; color: #FF9900; font-size: 16px; font-weight: bold; text-decoration: none}
.txtplain { font-family: tahoma; color: #000000; font-size: 15px; font-weight: normal; text-decoration: none}
.silarancio {BORDER-RIGHT: #ff9f00 1px solid; BORDER-TOP: #ff9f00 1px solid; BORDER-LEFT: #ff9f00 1px solid; BORDER-BOTTOM: #ff9f00 1px solid; BACKGROUND-COLOR: #395f86}
