a.lista, td.lista  {
	font-family: tahoma;
	font-size: 12;
	font-weight: bold;
	text-decoration: none;
}

a.bottone {
    font-family: tahoma;
    font-size: 11;
	font-weight: bold;
	color: white;
	text-decoration: none;
	text-align: center;
	background-color: #003162;
	width: 70;
	height: 14;
	border: 2 outset;
	padding: 0;
	margin: 0;
}

td.titoletto {
	font-family: tahoma;
	font-size: 14;
	font-weight: bold;
	text-decoration: none;
	color: #6789cc;
}

td.entePiccolo {
	font-family: tahoma;
	font-size: 14;
	font-weight: bolder;
	color: #6789cc;
}

td.titololista {
	font-family: tahoma;
	font-size: 12;
	font-weight: bold;
	text-decoration: none;
}

td.headercolonna {
	font-family: tahoma;
	font-size: 10;
	font-weight: bold;
	text-decoration: none;
	color: white;
	background-color: #234567;
}