a {
color: #000;
}

body {
font-family: serif;
font-size: 12pt;
}

#content {
margin: 0;
padding: 0;
width: auto;
}

#header, h3, h4, .storytitle {
border: none;
font-weight: bold;
margin: 0;
padding: 0;
width: auto;
}

h2 {
font-weight: bold;
font-size: 12pt;
}

#main {
float: none;
margin: 0 10%;
padding: 0;
width: auto;
}

#menu {
display: none; // No muestra el elemento ni reserva el hueco ocupado.
}

div.photo img:after{
display: block;
content: attr(alt);
text-align: center;
margin-bottom: 10pt;
margin-top: 10pt;
border-bottom: 1px dotted #000;
}
