<HTML>
<style>
  input {
    font-family: tahoma;
    font-size: 12;
	font-weight: bold;
	color: white;
	text-align: center;
	border: 1 solid black;
	background-color: #003265;
	text-decoration: none;
	padding: 2;
	margin: 0;
	vertical-align: middle;
	width: 219;
	height: 20;
  }

  td.input {
    font-family: tahoma;
    font-size: 14;
	font-weight: bold;
	color: white;
	text-align: right;
	background-color: #003265;
	text-decoration: none;
	padding: 2;
	margin: 0;
	vertical-align: middle;
	width: 300;
	height: 20;
  }

</style>
	<HEAD>
	</HEAD>
	<BODY bgcolor="#003265" LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">
	<FORM  method="post" action="ControlloLogin.asp" name="Login">
	<TABLE width="100%" height="100%"><TR><TD align="center" valign="middle">
	<TABLE CELLPADDING="0" CELLSPACING="0" BORDER="0">
	<TR>
		<TD COLSPAN="5"><IMG WIDTH="350" HEIGHT="38" SRC="images/Login_1.jpg" BORDER="0"></TD>
	</TR>
	<TR>
		<TD><IMG WIDTH="106" HEIGHT="30" SRC="images/Login_2.jpg" BORDER="0"></TD>
		<TD COLSPAN="3" bgcolor="#E5E5E5"><input type="text" name="usr"></TD>
		<TD><IMG WIDTH="25" HEIGHT="30" SRC="images/Login_4.jpg" BORDER="0"></TD>
	</TR>
	<TR>
		<TD><IMG WIDTH="106" HEIGHT="29" SRC="images/Login_5.jpg" BORDER="0"></TD>
		<TD COLSPAN="3" bgcolor="#E5E5E5"><input type="password" name="pwd"></TD>
		<TD><IMG WIDTH="25" HEIGHT="29" SRC="images/Login_7.jpg" BORDER="0"></TD>
	</TR>
	<TR>
		<TD COLSPAN="2"><IMG WIDTH="145" HEIGHT="25" SRC="images/Login_8.jpg" BORDER="0"></TD>
		<TD><a href="javascript:document.Login.submit()"><IMG WIDTH="50" HEIGHT="25" SRC="images/Login_9.jpg" BORDER="0"></a></TD>
		<TD COLSPAN="2"><IMG WIDTH="155" HEIGHT="25" SRC="images/Login_10.jpg" BORDER="0"></TD>
	</TR>
	<TR>
		<TD COLSPAN="5"><IMG WIDTH="350" HEIGHT="18" SRC="images/Login_11.jpg" BORDER="0"></TD>
	</TR>
	<TR>
	<TD><IMG WIDTH="106" HEIGHT="1" SRC="images/space.gif" BORDER="0"></TD>
	<TD><IMG WIDTH="39" HEIGHT="1" SRC="images/space.gif" BORDER="0"></TD>
	<TD><IMG WIDTH="50" HEIGHT="1" SRC="images/space.gif" BORDER="0"></TD>
	<TD><IMG WIDTH="130" HEIGHT="1" SRC="images/space.gif" BORDER="0"></TD>
	<TD><IMG WIDTH="25" HEIGHT="1" SRC="images/space.gif" BORDER="0"></TD>
    </TR>
	<TR>
		<TD colspan="5" class="input">
			<%=session("ErrorMessage")%>
		</TD>
	</TR>
    </TABLE>
	</TD>
	</TR>
	
	</TABLE>
	</FORM>
</BODY>
</HTML>
