body
	{width:534px;
	height:400px;}
.T
	{text-align:center;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:3;
	font-size:142%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.BB
	{mso-special-format:nobullet•;}
.B
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:104%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B1
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B2
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B3
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B4
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:57%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:57%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:57%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:57%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:57%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O
	{text-align:left;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:114%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O1
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O2
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O3
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O4
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB
	{text-align:center;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:1;
	font-size:104%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB1
	{font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB2
	{font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB3
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB4
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CT
	{text-align:center;
	font-family:"Times New Roman";
	color:black;
	mso-color-index:3;
	font-size:142%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HBB
	{mso-special-format:nobullet•;}
.HB
	{font-size:95%;
	mso-margin-left-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB1
	{font-size:85%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB2
	{font-size:85%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB3
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB4
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QBB
	{mso-special-format:nobullet•;}
.QB
	{font-size:85%;
	mso-margin-left-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB1
	{font-size:76%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB2
	{font-size:76%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB3
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB4
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl
	{font-size:95%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl1
	{font-size:85%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl2
	{font-size:85%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl3
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl4
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet•;}
.default
	{text-align:center;
	font-family:"Times New Roman";
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:black;
	mso-color-index:3;
	font-size:142%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:IT;}
a:link
	{color:#CCCCFF !important;}
a:active
	{color:#3333CC !important;}
a:visited
	{color:#B2B2B2 !important;}
