A:hover
{
	color:Aqua  
}
A:visited
{
	color:Black  
}
A:active
{
	color:Black    
}
A:link 
{
	color:Black 
}

.EstiloBoton
{
	background-color:Transparent;
	border-style:none;
	font-family:Cursive;
	font-weight:bold;
	font-size:x-small;
	text-transform:capitalize;
	color:Purple;
	cursor:hand;
}
	

.EstiloComboFecha
{
	background-color:LightYellow;
	font-family: Verdana; 
	font-size: 7pt; 
	color: navy;
	font-weight: bold; 
	border-style:ridge;
	text-transform:uppercase;
}

.EstiloCasilla
{
	background-color:LightYellow;
	border-style:ridge;
	font-family: Verdana; 
	font-size: 8pt; 
	font-weight: bold; 
	color:Black;
	text-transform:uppercase;
}

.EstiloTabla
{
	background-color:LightYellow;
	font-family: Verdana; 
	font-size: 8pt; 
	font-weight: bold; 
	color:Black;
	border-color:"#993333"	
}

.EstiloFila
{
	background-color:LightYellow;
	font-family: Verdana; 
	font-size: 8pt; 
	font-weight: bold; 
	color:Black;
	border-color:"#993333"	
}

.EstiloComboFechaViejo
{
	background-color: #E4EBFC; 
	font-family: Verdana; 
	font-size: 8pt; 
	font-weight: bold; 
	color: #000000
}

Img.ImagenLink
{
	cursor:hand;
}