.silarancio
{
    BORDER-RIGHT: #f4871e 1px solid;
    BORDER-TOP: #f4871e 1px solid;
    BORDER-LEFT: #f4871e 1px solid;
    BORDER-BOTTOM: #f4871e 1px solid;
    BACKGROUND-COLOR: #f0f0f0
}
.sfondoiscr
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BORDER-LEFT: black 1px solid;
    COLOR: #003366;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #003466
}
.tblagg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: lowercase;
    COLOR: #006699;
    FONT-FAMILY: verdana, Arial;
    TEXT-ALIGN: left
}
.tbldett
{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: lowercase;
    COLOR: #006699;
    FONT-FAMILY: verdana, Arial;
    TEXT-ALIGN: left
}
.tblmenuoriz
{
    FONT-SIZE: 10px;
    COLOR: #003466;
    FONT-FAMILY: verdana, Arial;
    LETTER-SPACING: normal
}
.tbltext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: midnightblue;
    FONT-FAMILY: verdana, Arial
}
.tbltext:hover
{
    FONT-SIZE: 11px;
    COLOR: orange;
    FONT-FAMILY: Arial
}
.tbltxtinscr
{
    FONT-SIZE: 12px;
    COLOR: #191970;
    FONT-FAMILY: Arial
}
.tbltext0
{
	font-size: 11px;
	color: #D7051E;
	font-family: Arial;
}
.tbltext0:hover
{
	font-size: 11px;
	color: #000080;
	font-family: Arial;
}
.tbltext1
{
	font-size: 11px;
	color: #666666;
	font-family: Arial;
}
.tbltextv
{
	font-size: 10px;
	color: black;
	font-family: Arial;
}
.topmenu
{
	font-size: 10px;
	color: white;
	font-family: Arial;
}
.topmenu:hover
{
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: verdana, Arial
}
.tbltext2
{
    FONT-SIZE: 10px;
    COLOR: #87cefa;
    FONT-FAMILY: verdana, Arial
}
.size_err
{
    FONT-SIZE: 14px;
    COLOR: blue
}
.tblsfondo
{
    BACKGROUND-COLOR: #f1f3f3
}
.tblsfondo2
{
    BACKGROUND-COLOR: #cccccc
}
A:link
{
    FONT-FAMILY: verdana, Arial;
    TEXT-DECORATION: none
}
A:visited
{
    FONT-FAMILY: verdana, Arial;
    TEXT-DECORATION: none
}
A:active
{
    FONT-FAMILY: verdana, Arial;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: orange;
    FONT-FAMILY: Verdana, Arial
}
.textred
{
    FONT-SIZE: 10px;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial
}
SELECT
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana
}
.tbltext3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #003466;
    FONT-FAMILY: Verdana, Arial
}
.textblack
{
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.tbltext0a
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial
}
.textblacka
{
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.tbltext2a
{
    FONT-SIZE: 13px;
    COLOR: #87cefa;
    FONT-FAMILY: Verdana, Arial
}
.tbltext1a
{
    FONT-SIZE: 13px;
    COLOR: midnightblue;
    FONT-FAMILY: Verdana, Arial
}
.tbllabel1
{
    COLOR: #ffffff;
    FONT-FAMILY: verdana, arial;
    BACKGROUND-COLOR: #006699
}
.tblsfondo3
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #003466
}
.tblsfondo1
{
    BACKGROUND-COLOR: #b3b3b3
}
.textgreen
{
    FONT-SIZE: 10px;
    COLOR: forestgreen;
    FONT-FAMILY: Verdana, Arial
}
.textgray
{
    FONT-SIZE: 10px;
    COLOR: #808080;
    FONT-FAMILY: Verdana, Arial
}
.textgreena
{
    FONT-SIZE: 13px;
    COLOR: forestgreen;
    FONT-FAMILY: Verdana, Arial
}
.textreda
{
    FONT-SIZE: 13px;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial
}
.menu
{
    BACKGROUND-COLOR: #003367
}
.sfondomenu
{
	background-color: #FFFFFF;
}
.sfondocentro
{
    BACKGROUND-COLOR: white
}
.sfondomedio
{
    BACKGROUND-COLOR: #003367
}
.sfondocomm
{
	padding-right: 5px;
	padding-left: 5px;
	font-size: 10px;
	padding-bottom: 5px;
	color: navy;
	padding-top: 5px;
	font-family: Verdana, Arial;
	background-color: #E9E9E9;
}
.textredb
{
    FONT-SIZE: 14px;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial
}
.sfondocommaz
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 5px;
    COLOR: navy;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana, Arial
}
.tbltexta
{
    FONT-SIZE: 13px;
    COLOR: #003466;
    FONT-FAMILY: Verdana, Arial
}
.tbltext4
{
    FONT-SIZE: 10px;
    COLOR: #3399cc;
    FONT-FAMILY: Verdana, Arial
}
.tbltext4a
{
    FONT-SIZE: 13px;
    COLOR: #3399cc;
    FONT-FAMILY: Verdana, Arial
}
.textInput
{
    FONT-SIZE: 9px;
    COLOR: midnightblue;
    FONT-FAMILY: verdana, Arial
}
.tbltextmenu
{
    FONT-SIZE: 10px;
    COLOR: midnightblue;
    FONT-FAMILY: Verdana, Arial
}
.tbltextmenu:hover
{
    FONT-SIZE: 10px;
    COLOR: #ff9900;
    FONT-FAMILY: Verdana, Arial
}
.tbltextmenu2
{
    FONT-SIZE: 10px;
    COLOR: midnightblue;
    FONT-FAMILY: Verdana, Arial
}
SELECT.MY
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial
}
INPUT.My
{
    BORDER-RIGHT: #7fd5f0 1px;
    BORDER-TOP: #7fd5f0 1px;
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #7fd5f0 1px;
    CURSOR: hand;
    COLOR: red;
    BORDER-BOTTOM: #7fd5f0 1px;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: transparent
}
INPUT.My2
{
    BORDER-RIGHT: #7fd5f0 1px outset;
    BORDER-TOP: #7fd5f0 1px outset;
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #7fd5f0 1px outset;
    CURSOR: hand;
    COLOR: #000000;
    BORDER-BOTTOM: #7fd5f0 1px outset;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: transparent
}
.MyTextBox
{
    FONT-SIZE: 8pt;
    TEXT-TRANSFORM: uppercase;
    FONT-FAMILY: Verdana;
    size: 8pt
}
.azzurro
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #006790;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
.titnews
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #337dff;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}
.chi
{
    FONT-SIZE: 13px;
    FONT-FAMILY: Verdana, Arial, 'MS Sans Serif'
}
.chitit
{
    FONT-SIZE: 13px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, 'MS Sans Serif'
}
.sfondodoc
{
    BORDER-RIGHT: #c0e1fe 1px solid;
    BORDER-TOP: #c0e1fe 1px solid;
    BORDER-LEFT: #c0e1fe 1px solid;
    BORDER-BOTTOM: #c0e1fe 1px solid;
    FONT-FAMILY: Verdana, 'Times New Roman', Arial;
    BACKGROUND-COLOR: #f1f3f3
}
INPUT.MyBluBianco
{
    BORDER-RIGHT: #7fd5f0 1px;
    BORDER-TOP: #7fd5f0 1px;
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #7fd5f0 1px;
    CURSOR: hand;
    COLOR: #006699;
    BORDER-BOTTOM: #7fd5f0 1px;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
INPUT.MyBluGrigio
{
    BORDER-RIGHT: #7fd5f0 1px;
    BORDER-TOP: #7fd5f0 1px;
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #7fd5f0 1px;
    CURSOR: hand;
    COLOR: #006699;
    BORDER-BOTTOM: #7fd5f0 1px;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #f1f3f3
}
INPUT.MyBluAzzurro
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px;
    CURSOR: hand;
    COLOR: #006699;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #c0e1fe
}
.titolocat
{
    FONT-SIZE: 11px;
    COLOR: red;
    FONT-FAMILY: Verdana, 'Times New Roman', Arial
}
.titolonews
{
    FONT-SIZE: 10px;
    COLOR: orange;
    FONT-FAMILY: Verdana, 'Times New Roman', Arial
}
.absnews
{
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Verdana, 'Times New Roman', Arial
}
.abscat
{
    FONT-SIZE: 12px;
    COLOR: #006699;
    FONT-FAMILY: Verdana, Arial, 'Times New Roman'
}
.abscatsmall
{
    FONT-SIZE: 10px;
    COLOR: #006699;
    FONT-FAMILY: Verdana, 'Times New Roman', Arial
}
TR.tabhome
{
    MARGIN-LEFT: 2px;
    FONT-FAMILY: Verdana, Arial
}
.inctxtcent
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    LINE-HEIGHT: 11px;
    FONT-FAMILY: Verdana, Arial, 'Times New Roman'
}
.titeventi
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #003366;
    FONT-FAMILY: Verdana, 'Times New Roman', Arial
}
.titeventi2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #006699;
    FONT-FAMILY: Verdana, 'Times New Roman', Arial
}
.titvoce
{
    FONT-SIZE: 11px;
    COLOR: #005480;
    FONT-FAMILY: Verdana, Arial
}
.titolettoa
{
    FONT-SIZE: 10px;
    COLOR: midnightblue;
    FONT-FAMILY: Verdana, Arial
}
.txtInputLogin
{
    FONT-SIZE: 11px;
    COLOR: #00558e;
    FONT-FAMILY: Verdana, Arial;
    LETTER-SPACING: -1px
}
.tabLogin
{
    BACKGROUND-COLOR: white
}
.tabLoginBorder
{
    BORDER-RIGHT: white;
    BORDER-TOP: white;
    BORDER-LEFT: white;
    BORDER-BOTTOM: white
}
.righina
{
    BORDER-RIGHT: midnightblue 1px solid;
    BORDER-TOP: midnightblue 1px solid;
    BORDER-LEFT: midnightblue 1px solid;
    BORDER-BOTTOM: midnightblue 1px solid
}
.righinasfondo
{
    BORDER-RIGHT: orange 2px solid;
    BORDER-TOP: orange 2px solid;
    BORDER-LEFT: orange 2px solid;
    BORDER-BOTTOM: orange 2px solid;
    BACKGROUND-COLOR: #f0f0f0
}
.righinasep
{
    BORDER-RIGHT: orange;
    BORDER-TOP: orange;
    BORDER-LEFT: orange;
    BORDER-BOTTOM: orange 1px solid
}
.tblsfondoFad
{
    BACKGROUND-COLOR: #f1f3f3
}
.sfondoCommFad
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 5px;
    COLOR: #003c80;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: white
}
.sfondoCommBFad
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 5px;
    COLOR: navy;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #c0e1fe
}
.tblAggFad
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: lowercase;
    COLOR: #006699;
    FONT-FAMILY: verdana, Arial;
    TEXT-ALIGN: left
}
.tbldettFad
{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: lowercase;
    COLOR: #006699;
    FONT-FAMILY: verdana, Arial;
    TEXT-ALIGN: left
}
.tbltext1Fad
{
    FONT-SIZE: 10px;
    COLOR: #003ba2;
    FONT-FAMILY: verdana, Arial
}
.tbltext1BFad
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #003ba2;
    FONT-FAMILY: verdana, Arial
}
.tbltextBFad
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #003466;
    FONT-FAMILY: verdana, Arial
}
.tbltextFad
{
    FONT-SIZE: 11px;
    COLOR: #003466;
    FONT-FAMILY: verdana, Arial
}
.textblackFad
{
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.tabOn
{
    FONT-SIZE: 10px;
    COLOR: navy;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #c0e1fe
}
.tabOff
{
    PADDING-RIGHT: 0px;
    FONT-SIZE: 10px;
    COLOR: #006699;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #f1f3f3
}
.txtLiv1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #003466;
    FONT-FAMILY: Verdana, Arial
}
.txtLiv2
{
    FONT-SIZE: 10px;
    COLOR: #003ba2;
    FONT-FAMILY: verdana, Arial
}
.txtLiv3Link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: lowercase;
    COLOR: #006699;
    FONT-FAMILY: verdana, Arial;
    TEXT-ALIGN: left
}
.txtLiv3NoLink
{
    FONT-SIZE: 10px;
    TEXT-TRANSFORM: lowercase;
    COLOR: #006699;
    FONT-FAMILY: verdana, Arial;
    TEXT-ALIGN: left
}
.tbltextmenured
{
    FONT-SIZE: 10px;
    COLOR: darkred;
    FONT-FAMILY: Verdana, Arial
}
.sfondotesto
{
    BORDER-RIGHT: #003366 1px solid;
    BORDER-TOP: #003366 1px solid;
    BORDER-LEFT: #003366 1px solid;
    BORDER-BOTTOM: #003366 1px solid;
    BACKGROUND-COLOR: white
}
.bordomenu
{
    BORDER-RIGHT: #003366;
    BORDER-TOP: #003366;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #003366 1px solid;
    COLOR: #003366;
    BORDER-BOTTOM: #003366;
    FONT-FAMILY: Verdana, Arial
}
.menusx
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial
}
.menusx:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #ff8f00;
    FONT-FAMILY: Verdana, Arial
}
.Tab_scriv
{
    BORDER-RIGHT: #003366 1px solid;
    BORDER-TOP: #003366 1px solid;
    BORDER-LEFT: #003366 1px solid;
    BORDER-BOTTOM: #003366 1px solid
}
.Scrivanie
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 13px;
    COLOR: navy;
    FONT-FAMILY: Arial, Verdana;
    FONT-VARIANT: small-caps
}
.SFONDO
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px;
    BORDER-LEFT: black 1px;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #f0f0f0
}
.sfondo_numeri
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #f6832a
}
.voci_numeri
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #006699;
    FONT-FAMILY: Verdana, Arial
}
.titoletto
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: midnightblue;
    FONT-VARIANT: small-caps
}
.BarraMenuTop
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    COLOR: white;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Verdana, 'Times New Roman', Arial;
    BACKGROUND-COLOR: #6c6d72
}
.SfondoMenuSx
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #599e2a
}
.SfondoCerca
{
    BORDER-RIGHT: black solid;
    BORDER-TOP: black solid;
    BORDER-LEFT: black solid;
    BORDER-BOTTOM: black solid;
    BACKGROUND-COLOR: #1e4ea2
}
.TxtNumeri
{
    FONT-SIZE: 10px;
    COLOR: #191971;
    FONT-FAMILY: Verdana, Arial
}
.Bordo_numeri
{
    BORDER-RIGHT: #191971 1px solid;
    BORDER-LEFT: #191971 1px solid;
    BACKGROUND-COLOR: #f0f0f0
}
.RigaSotto
{
    BORDER-RIGHT: black;
    BORDER-TOP: black;
    BORDER-LEFT: black;
    BORDER-BOTTOM: black 1px solid
}
.Bordo_numeriSotto
{
    BORDER-RIGHT: #191971 1px solid;
    BORDER-TOP: #191971 1px;
    BORDER-LEFT: #191971 1px solid;
    BORDER-BOTTOM: #191971 1px solid;
    BACKGROUND-COLOR: #f0f0f0
}
.Celeste11
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #0099cc;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Celeste18
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #0099cc;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Blanco12
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Sans-serif
}
.Blanco11
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Sans-serif
}
.input
{
    FONT-SIZE: 10px;
    FONT-FAMILY: Arial
}
.Negro11
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #003366;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Azul11
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #085584;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Negro13
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #003366;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.NotiText
{
    FONT-SIZE: 11px;
    COLOR: #999999;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.right-past-blanco
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.consultas
{
    FONT-SIZE: 8pt;
    WIDTH: 100%;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: midnightblue
}
.TrConsultas
{
    /*FONT-WEIGHT: bolder;*/
    FONT-SIZE: 10px;
    COLOR: MidNightBlue;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #d9d9ae;
    TEXT-ALIGN: center;
}
.TdConsultas
{
    FONT-SIZE: 10px;
    COLOR: MidNightBlue;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: LightYellow;
	 TEXT-ALIGN: center;
}
.Paging
{
    FONT-SIZE: 12px
}
.Footer
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 4px;
    BACKGROUND-COLOR: LightYellow;
}
.Label
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10px;
    COLOR: midnightblue;
    FONT-FAMILY: Verdana;
    FONT-VARIANT: normal
}
.sFONDOFIELDS
{
    FONT-SIZE: 10px;
    COLOR: navy;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #f1f1f3
}


.ulleft 
{
    float: left;
    width: 400px; 
    margin: 0px;
    padding: 5px;
    border: 0px none; 
    list-style-position: inside;
    list-style-type: square;
    color:red;
}

.ulquadra1
{
    PADDING-LEFT: 12px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BACKGROUND: url(/ba/images/ulquadra.GIF) no-repeat left 50%;
    COLOR: black;
}

.Rossa
{
	background: url('/ba/images/image019.gif') repeat;
	height:3px;
}

#scrolla
{
	overflow: scroll; 
}


