SELECT.MY
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial
}
INPUT.My
{
    BORDER-RIGHT: #7fd5f0 1px;
    BORDER-TOP: #7fd5f0 1px;
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #7fd5f0 1px;
    CURSOR: hand;
    COLOR: red;
    BORDER-BOTTOM: #7fd5f0 1px;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
INPUT.My2
{
    BORDER-RIGHT: #7fd5f0 1px outset;
    BORDER-TOP: #7fd5f0 1px outset;
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #7fd5f0 1px outset;
    CURSOR: hand;
    COLOR: #000000;
    BORDER-BOTTOM: #7fd5f0 1px outset;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #7fd5f0
}

.MyTextBox
{
text-transform: uppercase; 
size: 8pt; 
font-size: 8 pt; 
font-family: Verdana
}