.tbltext
{
    FONT-SIZE: 11px;
    COLOR: #003466;
    FONT-FAMILY: verdana, Arial
}
.tbltext0
{
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: verdana, Arial
}
.tbltext1
{
    FONT-SIZE: 10px;
    COLOR: #006699;
    FONT-FAMILY: verdana, Arial
}
.tbltext2
{
    FONT-SIZE: 10px;
    COLOR: #87cefa;
    FONT-FAMILY: verdana, Arial
}
.size_err
{
    FONT-SIZE: 14px;
    COLOR: blue
}
.tblsfondo
{
    BACKGROUND-COLOR: #f1f3f3
}
.tblsfondo2
{
    BACKGROUND-COLOR: #cccccc
}
A:link
{
    FONT-FAMILY: verdana, Arial;
    TEXT-DECORATION: none
}
A:visited
{
    FONT-FAMILY: verdana, Arial;
    TEXT-DECORATION: none
}
A:active
{
    FONT-FAMILY: verdana, Arial;
    TEXT-DECORATION: none
}
.textred
{
    FONT-SIZE: 10px;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial
}
SELECT
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana
}
.tbltext3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #003466;
    FONT-FAMILY: Verdana, Arial
}
.textblack
{
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.tbltext0a
{
    FONT-SIZE: 13px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial
}
.textblacka
{
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
.tbltext2a
{
    FONT-SIZE: 13px;
    COLOR: #87cefa;
    FONT-FAMILY: Verdana, Arial
}
.tbltext1a
{
    FONT-SIZE: 13px;
    COLOR: #006699;
    FONT-FAMILY: Verdana, Arial
}
.tbllabel1
{
    COLOR: #ffffff;
    FONT-FAMILY: verdana, arial;
    BACKGROUND-COLOR: #006699
}
.tblsfondo3
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #003466
}
.tblsfondo1
{
    BACKGROUND-COLOR: #b3b3b3
}
.textgreen
{
    FONT-SIZE: 10px;
    COLOR: forestgreen;
    FONT-FAMILY: Verdana, Arial
}
.textgray
{
    FONT-SIZE: 10px;
    COLOR: #808080;
    FONT-FAMILY: Verdana, Arial
}
.textgreena
{
    FONT-SIZE: 13px;
    COLOR: forestgreen;
    FONT-FAMILY: Verdana, Arial
}
.textreda
{
    FONT-SIZE: 13px;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial
}
.menu
{
    BACKGROUND-COLOR: #006699
}
.sfondomenu
{
    BACKGROUND-COLOR: #3399cc
}
.sfondocentro
{
    BACKGROUND-COLOR: white
}
.sfondomedio
{
    BACKGROUND-COLOR: #006699
}
.sfondocomm
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 5px;
    COLOR: navy;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #c0e1fe
}
.textredb
{
    FONT-SIZE: 14px;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial
}
.sfondocommaz
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 5px;
    COLOR: navy;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #dcdcdc
}
.tbltexta
{
    FONT-SIZE: 13px;
    COLOR: #003466;
    FONT-FAMILY: Verdana, Arial
}
.tbltext4
{
    FONT-SIZE: 10px;
    COLOR: #3399cc;
    FONT-FAMILY: Verdana, Arial
}
.tbltext4a
{
    FONT-SIZE: 13px;
    COLOR: #3399cc;
    FONT-FAMILY: Verdana, Arial
}
.textinput
{
    FONT-SIZE: 8px;
    COLOR: navy;
    FONT-FAMILY: Arial
}
SELECT.MY
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial
}
INPUT.My
{
    BORDER-RIGHT: #7fd5f0 1px;
    BORDER-TOP: #7fd5f0 1px;
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #7fd5f0 1px;
    CURSOR: hand;
    COLOR: red;
    BORDER-BOTTOM: #7fd5f0 1px;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
INPUT.My2
{
    BORDER-RIGHT: #7fd5f0 1px outset;
    BORDER-TOP: #7fd5f0 1px outset;
    FONT-WEIGHT: 600;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #7fd5f0 1px outset;
    CURSOR: hand;
    COLOR: #000000;
    BORDER-BOTTOM: #7fd5f0 1px outset;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #7fd5f0
}

.MyTextBox
{
text-transform: uppercase; 
size: 8pt; 
font-size: 8 pt; 
font-family: Verdana
}